<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/partner_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 ml-2 myBtn" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>
    <main class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none cancel" onclick="toggleSidebar()">닫기</button>
                <h5>마이페이지</h5>
                <br>
                <a href="/partner/partnerMypage" class="active partnerMypage">내 정보 변경</a>
                <a href="/partner/partnerReservation">내 예약 보기</a>
                <a href="/partner/partnerReview">내 리뷰 보기</a>
                <a href="/partner/partnerChatRoom">채팅 내역</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>내 정보 변경</h3>
                <form>
                    <input type="hidden" name="userId" th:value="${user.userId}">
                    <input type="hidden" name="userNo" th:value="${user.userNo}">
                    <input type="hidden" name="introduce" th:value="${partner.introduce}">
                    <div class="form-group mb-3">
                        <label for="userid">아이디</label>
                        <input type="text" class="form-control" id="userid" th:placeholder="${user.userId}" disabled>
                    </div>
                    <!-- <div class="form-group mb-3">
                        <label for="userPassword">비밀번호</label>
                        <input type="text" class="form-control" id="userPassword" th:placeholder="${user.userPassword}" readonly>
                    </div> -->
                    <div class="form-group mb-3">
                        <label for="userName">이름</label>
                        <input type="text" class="form-control" id="userName" th:placeholder="${user.userName}" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="userPhone">전화번호</label>
                        <input type="text" class="form-control" id="userPhone"  th:placeholder="${user.userPhone}" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="userAddress">주소</label>
                        <input type="text" class="form-control" id="userAddress"  th:placeholder="${user.userAddress}" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label for="userBirth">생년월일</label>
                        <input type="date" class="form-control" id="userBirth" th:value="${#dates.format(user.userBirth, 'yyyy-MM-dd')}" readonly>
                    </div>
                    <div class="form-group form-section p-1 f-warp text-start">
                        <label for="description">소개 글</label>
                        <textarea class="form-control w-75 input-readonly" id="description" rows="3" th:text="${partner.introduce}" readonly></textarea>
                    </div>
                    <!-- <div class="form-group form-section p-1 f-warp text-start">
                        <label for="description">추가 소개 사진</label>
                        <input type="file" class="form-control" id="file" value="첨부 파일을 선택해주세요" disabled>
                    </div> -->
                    <div class="form-buttons">
                        <a th:href="@{/partner/partnerMypageUpdate(userNo=${partner.userNo})}" class="btn btn-primary">정보 수정</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</html>