body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: calc(100vh - 40px);
    margin-top: 5%;
    margin-bottom: 5%;
}

aside {
    width: 15%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100%;
    overflow-y: auto;
}

.sidebar {
    position: sticky;
    top: 20px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    float: right;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar ul li a.active {
    font-weight: bold;
    border-bottom: 1px solid #8FA2CA;
}

.sidebar ul li a:hover {
    background-color: #e0e0e0;
}

.sidebar ul li a:hover {
    background-color: #e0e0e0;
}

main {
    width: 75%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* flex-grow: 1; */
    min-height: 80vh; /* Ensure it is at least as tall as the viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.reservation-detail {
    margin-top: 20px;
    line-height: 2;
    flex-grow: 1; /* Ensure reservation details take up available space */
}

.reservation-detail p {
    font-size: 16px;
    color: #333;
    margin-left: 50px;
    margin-top: 50px;
}

.reservation-detail p strong {
    display: inline-block;
    width: 120px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center buttons horizontally */
    margin-top: auto; /* Push buttons to the bottom */
}

.cancel-button, .inquiry-button, .edit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.cancel-button {
    background-color: #FF6B6B;
    color: white;
}

.inquiry-button {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #ccc;
}

.edit-button {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #ccc;
}

.cancel-button:hover {
    background-color: #FF4C4C;
}

.inquiry-button:hover {
    background-color: #f0f0f0;
}

.edit-button:hover {
    background-color: #f0f0f0;
}
