body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    /* display: flex; */
    flex-direction: row;
    align-items: flex-start;
    min-height: calc(100vh - 40px);
    margin-top: 5%;
    margin-bottom: 5%;
}

aside {
    width: 15%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100%;
    overflow-y: auto;
}

.sidebar {
    position: sticky;
    top: 20px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    float: right;
}


.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    /* border-radius: 5px; */
    transition: background-color 0.3s;
}

.sidebar ul li a.active {
    font-weight: bold;
    border-bottom: 1px solid #8FA2CA;
}

.sidebar ul li a:hover {
    background-color: #e0e0e0;
}

main {
    width: 80%;
    padding: 20px;
}

main h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="date"] {
    max-width: 200px;
}

form input[type="file"] {
    border: none;
    padding: 0;
}

form input[type="radio"] {
    margin-right: 10px;
}

#serviceType {
    display: block;
    /* text-align: center; */
}

#serviceType label {
    margin-top: 0;
}

.form-group {
    margin-top: 10px;
    
}

.form-control, .form-control-file {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding-left: 0;
    max-width: 500px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-end;
}


.buttons button:hover {
    background-color: #e0e0e0;
}

#serviceType .btn {
    margin: 5px 2px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #87a9d9;
    color: white;
    border: none;
    transition: background-color 0.3s;
    font-size: 12px;
    /* width: 60px; */
}

#serviceType .btn:hover {
    background-color: #6c8cbf;
}

#serviceType .btn-check:checked + .btn {
    background-color: #5a79a6;
}

.btn-xs {
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 5px;
    width: 20px;
}

.update {
    background-color: #fff !important;
    border: 1px solid #8FA2CA !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
    color: black !important;
}

.update:hover {
    background-color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    color: white !important;
}

.cancel {
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}

.cancel.hover {
    background-color: red !important;
    border: 1px solid red !important;
    color: white !important;
}

.delete {
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}

.delete:hover {
    background-color: red !important;
    border: 1px solid red !important;
    color: white !important;
}
