/* 팁 게시판 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}


.tips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 40px;
}

.tips .card p {
    text-align: left;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 40px;
}

.categories .card {
    width: 100%;
}

.categories .card p {
    position: static;
}

.categories .card p .highlight-text {
    font-size: 16px;
    font-weight: bold;
    color: #8FA2CA; 
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card p {
    padding: 0 10px;
    margin: 0;
    font-size: 12px;
    color: #555;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.tips .card,
.categories .card {
    border: none;
    box-shadow: none;
    overflow: visible;
}

.tips .card img,
.categories .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.categories .card p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #555;
    text-align: center;
}

.pagination {
    margin: 50px 0;
    text-align: center;
    justify-content: center;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #ddd;;
    color: #007bff !important;
    border: 1px solid #ddd;;
}

.search-container {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 5%;
}

.search-container input[type=text] {
    width: 300px; 
    padding: 10px; 
    border: 1px solid #8FA2CA; 
    border-radius: 10px; 
}

.search-container button[type=submit] {
    padding: 10px 20px; 
    background-color: #8FA2CA; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
}

.search-container button[type=submit]:hover {
    background-color: #8FA2CA;
}

.heart-button {
    background: none;
    border: none;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.2;
    float: right;
    position: absolute;
    top: 1px;
    right: 5px;
}

.heart-button:hover {
    opacity: 1;
}

.heart-button.active, .heart-button2.active {
    color: red;
    opacity: 1;
}

.heart-button2 {
    background: none;
    border: none;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.4;
}

.heart-button2:hover {
    opacity: 1;
}


.more-button2 {
    color: #48523D;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 16px;
}


.tipH2 {
    font-size: 14px !important;
    color: #8FA2CA !important;
}

.tipH3 {
    font-size: 20px !important;
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold !important;
}

a {
    text-decoration: none !important;
}

.code {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border-color: #8FA2CA;
    }

.sorting-dropdown select {
    border-radius: 8px; 
    padding: 5px 10px; 
    border: 1px solid #8FA2CA; 
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="%23000000" d="M0 3.5l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-color: #fff; 
    background-position: right 10px center; 
    width: 100px; 
    height: 35px; 
    font-size: 16px; 
    color: #000; 
}

.sorting-dropdown {
    display: inline-block;
    position: relative;
    margin-top: 10px;
}