/* 팁 게시글 상세 */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.main h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}

.main h3 {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
    font-weight: 300;
}

.main img {
    display: block;
    margin: 20px auto;
    width: auto;
    height: auto;
}


.main p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    text-align: justify;
}

.main ol {
    padding-left: 20px;
    font-size: 16px;
    color: #555;
}

.comment-section {
    margin-top: 40px;
}

.comment-section input[type=text] {
    width: 80%;
    padding: 10px;
    border: 1px solid #8FA2CA;
    border-radius: 5px;
    margin-bottom: 20px;
}

.comment-section button[type=submit] {
    padding: 10px 20px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-section button[type=submit]:hover {
    background-color: #8FA2CA;
}

.comment {
    margin-bottom: 5px;
}
.comment p {
    margin: 2px 0;
    color: #000;
}
.comment-actions {
    font-size: 0.9em;
    color: #666;
    margin-top: 2px;
}
.comment-actions button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    margin-left: 5px;
}
.comment-actions button:hover {
    text-decoration: underline;
}
.comment-response {
    margin-left: 20px;
    margin-top: 5px;
    background-color: #b5c6b8;
    border-radius: 10px;
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.button-container {
    display: flex;
}
.delete, .update {
    margin-left: 10px;
}

.delete {
    padding: 10px 20px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.update {
    padding: 10px 20px;
    background-color: white;
    color: #8FA2CA;
    border: 1px solid #8FA2CA;
    border-radius: 8px;
    cursor: pointer;
}

.separator {
    border: 0;
    height: 1.5px;
    background: #8FA2CA;
    margin: 20px 0;
}
