body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.main h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 55px;
}

.button-container {
    display: flex;
}

.delete, .update {
    margin-left: 10px;
}
.list {
    padding: 8px 18px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.boardList {
    padding: 8px 18px;
    background-color: white;
    color: #8FA2CA;
    border: 1px solid #8FA2CA;
    border-radius: 8px;
    cursor: pointer;
}

.boardUpdate {
    padding: 8px 18px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.boardDelete {
    padding: 8px 18px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.input-readonly:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--bs-border-color) !important;
}


.main h3 {
    font-size: 16px;
    color: #333;
    margin-top: 50px; /* Adjusted to move the h3 tag down */
    font-weight: 300;
    /* margin-bottom: 10px; */
}

#reply-input h3 {
    font-size: 20px;
}
.main img {
    display: block;
    margin: 20px auto;
    width: auto;
    height: auto;
}

.main p {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    text-align: justify;
}

.main ol {
    padding-left: 20px;
    font-size: 16px;
    color: #555;
}


#reply-input textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid #8FA2CA;
    border-radius: 5px;
}

#reply-input button[type=button] {
    padding: 10px 20px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-left: 20px;
}

.reply-input button[type=button]:hover {
    background-color: #8FA2CA;
}

.comment {
    margin-bottom: 5px;
}

.comment p {
    margin: 2px 0;
    color: #000;
}

.comment-actions {
    font-size: 0.9em;
    color: #666;
    margin-top: 2px;
}

.comment-actions button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    margin-left: 5px;
}

.comment-actions button:hover {
    text-decoration: underline;
}

.comment-response {
    margin-left: 20px;
    margin-top: 5px;
    background-color: #b5c6b8;
    border-radius: 10px;
    padding: 10px;
}

.separator {
    border: 0;
    height: 1.5px;
    background: #8FA2CA;
    margin: 20px 0;
}

.reply-input {
    width: 80% !important;
}

a {
    text-decoration: none;
}

#userId {
    background: none !important;
    border: none !important;
}

.delete {
    padding: 8px 18px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.like-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f9fa;
}

.like-button-wrapper:hover {
    background-color: #e2e6ea;
}

.like-button {
    padding: 8px 18px;
    background-color: white;
    gap: 10px;
    color: #8FA2CA;
    border: 1px solid #8FA2CA;
    border-radius: 8px;
    cursor: pointer;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.reply {
    background-color: #E4E8F4; /* 연두색 배경 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 10px;
    margin-left: 20px; /* 들여쓰기 */
    margin-bottom: 10px;
    /* height: 120px; */
}

.comment-actions button {
    /* background-color: #4CAF50; 녹색 배경 */
    color: rgb(86, 86, 86);
    border: none; /* 테두리 없음 */
    padding: 5px 10px; /* 패딩 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    display: inline-block; /* 인라인 블록 */
    font-size: 14px; /* 글꼴 크기 */
    margin: 2px; /* 마진 */
    cursor: pointer; /* 커서 포인터 */
    border-radius: 4px; /* 모서리 둥글게 */
}

.comment-actions button:hover {
    /* background-color: #45a049; 호버시 색상 */
}

textarea {
    resize: none; /* 크기 조절 불가능 */
    border: 2px solid #4CAF50; /* 테두리 색상 */
    border-radius: 4px; /* 모서리 둥글게 */
    padding: 10px; /* 패딩 */
    width: 100%; /* 너비 100% */
    box-sizing: border-box; /* 박스 크기 조절 */
}