<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/user_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 ml-2" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>
    <main class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none cancel" onclick="toggleSidebar()">닫기</button>
                <h5>마이페이지</h5>
                <br>
                <a href="/user/userMypage">내 정보 변경</a>
                <a href="/user/userReservation" class="userReservation">내 예약 보기</a>
                <a href="/user/userLikeTip">내가 좋아하는 글</a>
                <a href="/user/userReview">별점 및 리뷰 작성</a>
                <a href="/user/userCoupon" >채팅 내역</a>
                <a href="/user/userPartner">파트너 신청</a>
                <a href="/user/userCart">장바구니</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>내 예약 보기</h3>
                <form>
                    <div th:each="order : ${orders}">
                        <h4 th:text="${order.userName} + '님의 예약 내역'"></h4>
                        <br>
                        <div class="form-group mb-3">
                            <label for="staticOrdersNo" class="col-sm-2 col-form-label">주문 번호</label>
                            <div class="col-sm-10">
                                <div id="staticOrdersNo" class="custom-text" th:text="${order.ordersNo}"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="staticOrderStatus" class="col-sm-2 col-form-label">주문 상태</label>
                            <div class="col-sm-10">
                                <div id="staticOrderStatus" class="custom-text" th:text="${order.orderStatus}"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="staticLocation" class="col-sm-2 col-form-label">위치</label>
                            <div class="col-sm-10">
                                <div id="staticLocation" class="custom-text" th:text="${order.userAddress}"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="staticSchedule" class="col-sm-2 col-form-label">일정</label>
                            <div class="col-sm-10">
                                <div id="staticSchedule" class="custom-text" th:text="${#dates.format(order.regDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="staticService" class="col-sm-2 col-form-label">서비스</label>
                            <div class="col-sm-10">
                                <div id="staticService" class="custom-text" th:text="${order.serviceName}"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="staticAmount" class="col-sm-2 col-form-label">결제 금액</label>
                            <div class="col-sm-10">
                                <div id="staticAmount" class="custom-text" th:text="${order.totalPrice} + '원'"></div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="staticPartner" class="col-sm-2 col-form-label">파트너</label>
                            <div class="col-sm-10">
                                <div id="staticPartner" class="custom-text" th:text="${order.partnerName}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="btn btn-danger">예약 취소</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
