<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/user_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 예약 보기</title>
<body layout:fragment="content">
    <div class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none cancel" onclick="toggleSidebar()">닫기</button>
                <h5>마이페이지</h5>
                <br>
                <a href="userMypage">내 정보 변경</a>
                <a href="userReservation">내 예약 보기</a>
                <a href="userLikeTip">내가 좋아하는 글</a>
                <a href="userReview">벌점 및 리뷰 작성</a>
                <a href="userCoupon">쿠폰</a>
                <a href="userPartner">파트너 신청</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>내 예약 보기</h3>
                <form>
                    <div>
                        <h3>userName님의 예약 내역</h3>
                    </div>
                    <div class="form-group mb-3">
                        <label for="staticLacation" class="col-sm-2 col-form-label" >위치</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticLocation" value="">
                          </div>
                    </div>
                    
                    <div class="form-buttons">
                        <button type="submit" class="btn btn-primary sessuce">정보 수정</button>
                        <button type="reset" class="btn btn-secondary cancel">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
