<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/user_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 ml-2" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>
    <div class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none" onclick="toggleSidebar()">닫기</button>
                <h5>마이페이지</h5>
                <br>
                <a th:href="@{/user/userMypage}">내 정보 변경</a>
                <a th:href="@{/user/userReservation}">내 예약 보기</a>
                <a th:href="@{/user/userLikeTip}">내가 좋아하는 글</a>
                <a th:href="@{/user/userReview}">별점 및 리뷰 작성</a>
                <a th:href="@{/user/userCoupon}">내 쿠폰</a>
                <a th:href="@{/user/userPartner}" class="userPartner">파트너 신청</a>
                <a th:href="@{/user/userCart}">장바구니</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>파트너 신청 완료</h3>
                <div class="container complete">
                    <div class="form-container complete mt-5">
                        <h2 class="text-center color_main">파트너 신청 성공</h2>
                        <hr class="completeHr">
                        <p class="text-center">회원님의 파트너 신청이 성공적으로 끝났습니다</p>
                        <p class="text-center">승인까지 최대 3일 소요될 수 있습니다!</p>
                        <div class="d-flex justify-content-center gap-5">
                            <a href="/" class="btn btn-primary sessuce color_main">메인화면</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</body>
</html>