<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/user_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>별점 및 리뷰 작성</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 ml-2" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>
    <div class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none" onclick="toggleSidebar()">닫기</button>
                <h5>마이페이지</h5>
                <br>
                <a href="userMypage">내 정보 변경</a>
                <a href="userReservation">내 예약 보기</a>
                <a href="userLikeTip">내가 좋아하는 글</a>
                <a href="userReview">별점 및 리뷰 작성</a>
                <a href="userCoupon">내 쿠폰</a>
                <a href="userPartner">파트너 신청</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>별점 및 리뷰 작성</h3>
                <div class="grid review-form">
                    <h4 >서비스 품질 리뷰</h4>
                    <form>
                        <div class="item item-1 align-items-center mb-3">
                            <div class="col-sm-3">
                                <img src="https://via.placeholder.com/150" alt="서비스 이미지">
                            </div>
                            <div class="col-sm-9 d-flex align-center">
                                <h5>청소 패키지 서비스</h5>
                            </div>
                        </div>
                        <div class="item item-2 align-center mb-3">
                            <label for="detailedReview">상세 리뷰</label>
                            <textarea class="form-control" id="detailedReview" rows="3" placeholder="다른 고객님께 도움이 되도록 서비스에 대한 솔직한 리뷰를 남겨주세요."></textarea>
                        </div>
                        <div class="item item-3 align-center mb-3" >
                            <label>첨부파일</label>
                            <div class="file-upload">
                                <div>
                                    <input type="file" class="form-control-file" style="display: none;">
                                    <span>첨부하기</span>
                                </div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <small class="form-text text-muted">사진은 최대 20MB 이하의 JPG, PNG, GIF 파일 10장까지 첨부 가능합니다.</small>
                        </div>
                        <div class="form-buttons">
                            <button type="submit" class="btn btn-primary">등록하기</button>
                            <button type="reset" class="btn btn-secondary">취소하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>