<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/auth_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <div class="container form-container">
        <form id="form" th:action="@{/auth/findPw}" method="post">
            <!-- CSRF TOKEN -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <h2 class="text-center">비밀번호 찾기</h2>
            <p class="text-center">비밀번호 찾기를 위한 정보를 입력해주세요.</p>
            <hr>
            <div class="mb-3"><input type="text" name="userName" class="form-control" placeholder="이름" required></div>
            <div class="mb-3"><input type="text" name="userId" class="form-control" placeholder="아이디" required></div>
            <div class="mb-3 input-group">
                <input type="text" name="userEmail" class="form-control" placeholder="이메일" required>
                <button type="button" class="btn btn-primary custom-auth-btn" onclick="sendAuthCode()">인증하기</button>
            </div>
            <div class="mb-3"><input type="text" name="authCode" class="form-control" placeholder="인증코드" required></div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark">비밀번호 찾기</button>
                <button type="button" class="btn btn-light border" onclick="history.back()">돌아가기</button>
            </div>
            <hr>
        </form>
    </div>

    <script>
        function sendAuthCode() {
            var userEmail = document.querySelector('input[name="userEmail"]').value;
            fetch('/auth/sendAuthCode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': document.querySelector('input[name="_csrf"]').value
                },
                body: JSON.stringify({ userEmail: userEmail })
            }).then(response => response.text())
              .then(data => {
                sweetAlert('😊', data, "success");
              }).catch(error => {
                  sweetAlert('인증 코드 전송 중 오류가 발생했습니다.');
              });
        }
    </script>
    
</body>
</html>
