<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/auth_layout}"
      >
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
</head>
<!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
<body layout:fragment="content">
    <div class="container form-container">
        <form id="form" action="/auth/findPw" method="post">
            <h2 class="text-center">비밀번호 찾기</h2>
            <p class="text-center">비밀번호 찾기를 위한 정보를 입력해주세요.</p>
            <hr>
            <div class="mb-3"><input type="text" class="form-control" placeholder="이름"></div>
            <div class="mb-3"><input type="text" class="form-control" placeholder="아이디"></div>
            <div class="mb-3 input-group">
                <input type="text" class="form-control" placeholder="이메일">
                <button type="button" class="btn btn-primary custom-auth-btn">인증하기</button>
            </div>
            <div class="mb-3"><input type="text" class="form-control" placeholder="인증코드"></div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark">비밀번호 찾기</button>
                <button type="button" class="btn btn-light border" onclick="history.back()">돌아가기</button>
            </div>
            <hr>
        </form>
    </div>
</body>
</html>