<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/auth_layout}"
      >
<!-- ⭐ layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<!-- ⭐ layout:fragment="레이아웃 프레그먼트 이름" -->
<body layout:fragment="content">
    <div class="container form-container">
        <form id="form" action="/auth/join" method="post">
            <h2 class="text-center">계정 생성</h2>
            <p class="text-center">다양한 계정에 사용될 정보를 입력해주세요</p>
            <div class="mb-3"><input type="text" class="form-control" placeholder="아이디"></div>
            <div class="mb-3"><input type="password" class="form-control" placeholder="비밀번호"></div>
            <div class="mb-3"><input type="text" class="form-control" placeholder="이름"></div>
            <div class="mb-3"><input type="text" class="form-control" placeholder="생년월일"></div>
            <div class="mb-3"><input type="text" class="form-control" placeholder="연락처"></div>
            <div class="mb-3"><input type="text" class="form-control" placeholder="이메일"></div>
            <div class="mb-3"><input type="text" class="form-control" placeholder="주소"></div>
            <div class="mb-3">
                <div class="row">
                   <div class="col-10">
                        <div class="gender-container d-flex justify-content-center column-gap-5">
                            <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="gender" id="male" value="male" checked><label class="form-check-label" for="male">남성</label></div>
                            <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="gender" id="female" value="female"><label class="form-check-label" for="female">여성</label></div>
                            <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="gender" id="other" value="other"><label class="form-check-label" for="other">기타</label></div>
                        </div>
                   </div>
                </div>
                
                
            </div>
            <div class="d-grid gap-3">
                <button type="submit" class="btn btn-dark">회원 가입</button>
                <button type="button" class="btn btn-light border" onclick="history.back()">돌아가기</button>
            </div>
            <div class="text-center my-3"><hr>소셜계정으로 회원 가입</div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-light google border"><img src="/img/google.png" alt="Google" class="img-fluid" style="max-height: 20px;"> Google</a>
                <a href="#" class="btn btn-light kakao border"><img src="/img/kakao.png" alt="Kakao" class="img-fluid" style="max-height: 20px; width: 20px;"> Kakao</a>
                <a href="#" class="btn btn-light naver border"><img src="/img/naver.png" alt="Naver" class="img-fluid" style="max-height: 20px;"> Naver</a>
            </div>
            <div>
                <p class="description">
                    회원 가입 및 로그인 진행 시 본 사이트의<br> <b>서비스 약관</b> 및 <b>개인 정보 보호 정책</b>에 동의하는 것으로 간주합니다.
                </p>
            </div>
        </form>
    </div>
</body>
</html>