<th:block th:fragment="footer">
    <footer class="footer mt-auto">
        <div class="row">
            <div class="col-md-11 d-flex justify-content-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">회사 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">이용약관 및 규칙</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">개인정보 처리 방침 및 청소년보호정책</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">광고문의</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <!-- 이미지 영역 -->
            <div class="col-md-3 d-flex justify-content-center align-items-center logo text-center text-md-left">
                <div>
                    <img src="/img/logo_h.png" alt="DA E UT 로고" class="img-fluid mb-2">
                </div>
            </div>
            <!-- 설명 영역 -->
            <div class="col-md-3 company-info text-center text-md-left">
                <p class="letter-spacing"><strong>㈜다이웃</strong> 대표이사: 이종식</p>
                <p class="letter-spacing">주소: 서울시 강남구 논현로 508(역삼동, GS타워)</p>
                <p class="letter-spacing">사업자등록번호: 117-88-00000</p>
                <p class="letter-spacing">통신판매업신고: 제2024-서울강남-00000호</p>
                <p class="letter-spacing">개인정보보호책임자: 홍길동</p>
                <p class="letter-spacing">호스팅제공자: ㈜카페24</p>
                <p class="letter-spacing">고객센터: (무료)080-123-4567 / (유료)02-1234-5678</p>
                <p class="letter-spacing">이메일 문의: <a href="mailto:daeut@gmail.com">daeut@gmail.com</a></p>
            </div>
            <!-- 채무지급 안내 -->
            <div class="col-md-3 text-center text-md-left">
                <p class="letter-spacing">조은은행 채무지급보증안내:</p>
                <p class="text-nowrap custom-break">
                    전자상거래 등에서의 소비자보호에 관한 법률에 따라<br>
                    조은은행과 채무지급보증 계약을 체결하여 고객님의 결제 금액에 대한<br>
                    안전거래를 보장하고 있습니다.
                </p>
                <p class="letter-spacing">서비스 가입 사실 확인</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="text-muted">Copyright © Da E ut Co.Lid All Rights Reserved</p>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function(){
            $('.navbar-toggler').click(function(){
                $('#menu-icon').toggleClass('fa-bars fa-xmark');
            
            });
    
        });
    
        
    </script>

</th:block>