<th:block th:fragment="script">
    <!-- js 가져오는 순서 -->
    <!-- 1. jQuery -->
    <!-- 2. jQuery 기반 라이브러리 -->
    <!-- 3. 자바스크립트 라이브러리 -->
    <!-- 4. 사용자 정의 자바스크립트 -->

    <!-- 부트스트랩 JS와 jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="/js/script.js"></script>
</th:block>