<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 ml-2" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>

    <main class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none" onclick="toggleSidebar()">닫기</button>
                <h5>관리</h5>
                <br>
                <a href="adminUser">회원 관리</a>
                <a href="adminPartner" class="partnerManage">파트너 관리</a>
                <a href="adminReservation">예약 관리</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>파트너 관리</h3>
            </div>
        </div>
    </main>
</body>
</html>