<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/admin_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <div class="container-fluid container">
        <button class="btn btn-primary toggle-btn menu mt-2 myBtn d-md-none transitionNone" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>
        <div class="row">
            <!-- 사이드바 -->
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none cancel mb-3" onclick="toggleSidebar()">닫기</button>
                <h5>관리</h5>
                <hr>
                <a href="/admin/adminUser">회원 관리</a>
                <a href="/admin/adminPartner">파트너 관리</a>
                <a href="/admin/adminReservation">예약 관리</a>
            </nav>
            <!-- 컨텐츠 영역 -->
            <div class="col-md-9 col-lg-10">
                <h3 class="mt-5 ml-5 mb-5 color_main">파트너 관리</h3>
                <table class="table table-sm mb-5 table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>No.</th>
                            <th>파트너</th>
                            <th>주소</th>
                            <th>경력</th>
                            <th>등록 일자</th>
                            <th>승인 상태</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td><a href="adminPartnerRead" class="text-decoration-line">김조은</a></td>
                            <td>인천광역시 부평구</td>
                            <td>특수 청소 3년</td>
                            <td>2024-05-20 12:19:10</td>
                            <td>대기</td>
                            <td class="checked">
                                <input type="checkbox" id="chk1" class="checkbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons">
                    <button class="btn btn-primary custom1">선택 삭제</button>
                    <button class="btn btn-primary custom2">전체 삭제</button>
                </div>
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">&lt;</a>
                    <a href="#" th:classappend="${page == 1} ? 'active'">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&gt;</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>

        </div>
    </main>
</body>
</html>