<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 ml-2" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>

    <main class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none" onclick="toggleSidebar()">닫기</button>
                <h5>관리</h5>
                <br>
                <a href="adminUser">회원 관리</a>
                <a href="adminPartner">파트너 관리</a>
                <a href="adminReservation" class="reservationManage">예약 관리</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>예약 정보</h3>
                <div class="container mt-2">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" method="POST">
                                <div class="row info-row">
                                    <label for="requester" class="col-3 label">요청자</label>
                                    <div class="col-9">
                                        <input type="text" id="requester" class="form-control" value="jouen" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="partner" class="col-3 label">파트너</label>
                                    <div class="col-9">
                                        <input type="text" id="partner" class="form-control" value="홍길동" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="date" class="col-3 label">일시</label>
                                    <div class="col-9">
                                        <input type="text" id="date" class="form-control" value="2024.05.21" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="amount" class="col-3 label">금액</label>
                                    <div class="col-9">
                                        <input type="text" id="amount" class="form-control" value="77,000원" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="address" class="col-3 label">주소</label>
                                    <div class="col-9">
                                        <input type="text" id="address" class="form-control" value="인천광역시 부평구" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="request" class="col-3 label">요청사항</label>
                                    <div class="col-9">
                                        <input type="text" id="request" class="form-control" value="요청입니다" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="phone" class="col-3 label">전화번호</label>
                                    <div class="col-9">
                                        <input type="text" id="phone" class="form-control" value="010-1111-1111" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a href="adminReservationUpdate" class="btn btn-primary custom1">예약 수정</a>
                    <a href="adminReservation" class="btn btn-primary custom2 size">목록</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>