<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 myBtn d-md-none transitionNone" id="toggle-btn" onclick="toggleSidebar()">메뉴</button>

    <main class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar" id="sidebar">
                <button class="btn btn-danger d-block d-md-none" onclick="toggleSidebar()">닫기</button>
                <h5>관리</h5>
                <br>
                <a href="adminUser">회원 관리</a>
                <a href="adminPartner">파트너 관리</a>
                <a href="adminReservation" class="reservationManage">예약 관리</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>예약 관리</h3>
                <p>사용자 이름 클릭 시 조회 화면으로 이동합니다.</p>
                <form id="form" action="/admin/reservation/delete" method="post">
                    <!-- CSRF TOKEN -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <table class="table table-sm table-hover">
                        <thead class="table-light">
                            <tr>
                                <th width="30">No.</th>
                                <th width="50">사용자 명</th>
                                <th width="50">파트너 명</th>
                                <th width="50">예약 번호</th>
                                <!-- payment에서 가져오기 -->
                                <th width="80">예약 상태</th>  
                                <th width="100">예약 시간</th>
                                <!-- <th width="30" name="allCheck">
                                    <input type="checkbox" class="checkbox" id="allCheck" onclick="toggleAllCheckboxes(this)">
                                </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${orderList == null || orderList.isEmpty()}">
                                <td colspan="7"> 
                                    조회된 예약 정보가 없습니다.
                                </td>
                            </tr>
                            <tr th:each="order, stat : ${orderList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td><a th:href="|/admin/adminReservationRead?ordersNo=${order.ordersNo}|" th:text="${order.userName}" class="text-decoration-line"></a></td>
                                <td th:text="${order.partnerName}"></td>
                                <td th:text="${order.ordersNo}"></td>
                                <td>
                                    <!-- 상태가 'PENDING'인 경우 -->
                                    <span th:if="${order.status.name() == 'PENDING'}" class="status-pending" style=" color: green;">
                                        보류
                                    </span>
                                    <!-- 상태가 'PAID'인 경우 -->
                                    <span th:if="${order.status.name() == 'PAID'}" class="status-paid" style=" color: blue;">
                                        결제 완료
                                    </span>
                                    <!-- 상태가 'REFUND'인 경우 -->
                                    <span th:if="${order.status.name() == 'REFUND'}" class="status-refund" style=" color: red;">
                                        환불
                                    </span>
                                </td>
                                <td th:text="${#dates.format(order.serviceDate, 'yyyy-MM-dd HH:mm')}"></td>
                                <!-- <td class="checked">
                                    <input type="checkbox" class="checkbox" name="deleteNoList" th:value="${order.ordersNo}">
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </form>
                <!-- <div class="buttons">
                    <input type="button" class="btn btn-primary custom1" value="선택 취소" onclick="deleteSelectedUser()"></input>
                </div> -->
                <!-- 페이징 -->
                <div class="pagination d-flex align-items-center">
                    <!-- 처음 -->
                    <a th:href="|/admin/adminReservation?page=${page.first}|">&laquo;</a> 
                    <!-- 이전 -->
                    <a th:if="${page.page != page.first}" th:href="|/admin/adminReservation?page=${page.prev}|">&lt;</a>  
                    <a th:if="${page.page == page.first}" th:href="|/admin/adminReservation?page=${page.first}|">&lt;</a>

                    <th:block th:each="pageNo : ${#numbers.sequence(page.start, page.end)}">
                        <!-- 현재페이지 -->
                        <th:block th:if="${page.page == pageNo}">
                            <a th:classappend="'active'" th:href="|/admin/adminReservation?page=${pageNo}|" th:text="${pageNo}"></a>
                        </th:block>
                        <!-- 다른 페이지 -->
                        <th:block th:if="${page.page != pageNo}">
                            <a th:href="|/admin/adminReservation?page=${pageNo}|" th:text="${pageNo}"></a>
                        </th:block> 
                    </th:block>

                    <!-- 다음 -->
                    <a th:if="${page.page != page.last}" th:href="|/admin/adminReservation?page=${page.next}|">&gt;</a>
                    <a th:if="${page.page == page.last}" th:href="|/admin/adminReservation?page=${page.last}|">&gt;</a>
                    <!-- 마지막 -->
                    <a th:href="|/admin/adminReservation?page=${page.last}|">&raquo;</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>