<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <button class="btn btn-primary toggle-btn menu mt-2 myBtn d-md-none transitionNone" onclick="toggleSidebar()">메뉴</button>

    <main class="container-fluid container">
        <div class="row">
            <nav class="col-md-3 col-lg-2 sidebar">
                <button class="btn btn-danger d-block d-md-none" onclick="toggleSidebar()">닫기</button>
                <h5>관리</h5>
                <br>
                <a href="adminUser">회원 관리</a>
                <a href="adminPartner">파트너 관리</a>
                <a href="adminReservation" class="reservationManage">예약 관리</a>
            </nav>
            <div class="col-md-9 col-lg-10 form-section">
                <h3>예약 정보</h3>
                <div class="container mt-2">
                    <div class="card">
                        <div class="card-body">
                            <form action="/admin/adminReservationRead" method="POST">
                                <!-- CSRF TOKEN -->
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <!-- <input type="hidden" th:value="${orders.ordersNo}" name="ordersNo"> -->
                                <div class="row info-row">
                                    <label for="requester" class="col-3 label">요청자</label>
                                    <div class="col-9">
                                        <input type="text" name="userName" class="form-control" th:value="${user.userName}" readonly>
                                    </div>
                                </div>
                                <!-- <div class="row info-row">
                                    <label for="partner" class="col-3 label">파트너</label>
                                    <div class="col-9">
                                        <th:block th:each="partner : ${partnerList}">
                                            <input type="text" name="partnerName" class="form-control" th:value="${partner.userName}" readonly>
                                        </th:block>
                                    </div>
                                </div> -->
                                <div class="row info-row">
                                    <label for="requester" class="col-3 label">예약 제목</label>
                                    <div class="col-9">
                                        <input type="text" name="title" class="form-control" th:value="${orders.title}" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="request" class="col-3 label">예약번호</label>
                                    <div class="col-9">
                                        <input type="text" name="ordersNo" class="form-control" th:value="${orders.ordersNo}" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="date" class="col-3 label">일시</label>
                                    <div class="col-9">
                                        <input type="text" name="serviceDate" class="form-control" th:value="${#dates.format(payments.serviceDate, 'yyyy-MM-dd')}" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="amount" class="col-3 label">금액</label>
                                    <div class="col-9">
                                        <input type="text" name="totalPrice" class="form-control" th:value="${orders.totalPrice}" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="address" class="col-3 label">사용자 주소</label>
                                    <div class="col-9">
                                        <input type="text" name="userAddress" class="form-control" th:value="${user.userAddress}" readonly>
                                    </div>
                                </div>
                                <div class="row info-row">
                                    <label for="phone" class="col-3 label">사용자 전화번호</label>
                                    <div class="col-9">
                                        <input type="text" name="userPhone" class="form-control" th:value="${user.userPhone}" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <a th:href="|/admin/adminReservationUpdate?ordersNo=${orders.ordersNo}|" class="btn btn-primary custom1">예약 수정</a>
                    <a href="/admin/adminPartner" class="btn btn-primary custom2 size">목록</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
