.sessuce{
    background-color: #fff !important;
    border: 1px solid #8FA2CA !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
    color: black !important;
}
.sessuce:hover{
    background-color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    color: white !important;
}

.cancel{
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}
.cancel:hover{
    background-color: red !important;
    border: 1px solid red !important;
    color: white !important;
}

.myBtn{
    background-color: #fff !important;
    color: #48523D !important;
    border: 1px solid #48523D !important;
    transition: 0.5s !important;
}
.myBtn:hover{
    background-color: #48523D !important;
    border: 1px solid #48523D !important;
    color: white !important;
}

.modal-content {
    padding: 15px;
}
.py-5.text-center {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.myCoupon{
    display: flex;
    justify-content: space-around;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 8px;
    color: white;
    font-size: 80px; /* 아이콘 크기 조정 */
}
.icon-text {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
.login-icon {
    background-color: #8FA2CA;
}
.signup-icon {
    background-color: #B5C6B8;
}
button {
    border: none;
}
.custom-margin {
    margin-right: 100px; /* 왼쪽 요소의 오른쪽 간격 설정 */
    margin-left: 100px; /* 오른쪽 요소의 왼쪽 간격 설정 */
}
.memberRow {
    display: flex;
    justify-content: center;
}
.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 20px auto;
}
.form-container form {
    max-width: 500px; /* 줄어든 너비 */
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}
.form-control {
    line-height: 1 !important;
    font-size: 14px !important;
}

.gender {
    display: flex;
    justify-content: center;
    gap: 20px; /* 라디오 버튼 간격 조정 */
}

.google {
    background-color: royalblue !important;
    color: white !important;
}
.kakao {
    background-color: #FEE500 !important;
    color: black !important;
}
.naver {
    background-color: #03C75A !important;
    color: white !important;
}
.description {
    word-break: keep-all;
    padding-top: 20px;
    text-align: center;
}

.custom-auth-btn {
    background-color: #8FA2CA !important;
    border: none !important;
    padding-top: 50px;
}


.form-container.complete{
    max-width: 700px; /* 줄어든 너비 */
    width: 100%;
    margin: 20px;
    padding: 70px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.container.complete {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px; /* 화면 전체 높이 */
}

.custom-auth-btn.complete {
    background-color: #8FA2CA !important;
    border: none !important;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 130px;
    height: 40px;
    font-size: 18px;
}

.completeHr {
    width: 100%;
}

h2 {
    color: #8FA2CA !important;
    font-weight: bold !important;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 450px) {
    .btn-container {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }
}


/*  450px 미디어 쿼리 */
@media (max-width: 450px) {
    .container {
        padding: 10px;
    }
    h2.size_4rem {
        font-size: 1.5rem;
    }
    .lead {
        font-size: 0.9rem;
    }
    .list-group-item {
        padding: 8px;
    }
    .form-control,
    .input-group,
    .select {
        width: 100%;
    }
    input[type="text"].form-control {
        width: 60%;
    }
    button.btn.btn-secondary.myBtn {
        width: 40%;
    }
    .d-flex {
        flex-direction: column;
        gap: 10px;
    }
    .d-flex.justify-content-between,
    .d-flex.justify-content-end {
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        padding: 10px;
    }
}