.sessuce{
    background-color: #fff !important;
    border: 1px solid #8FA2CA !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}
.sessuce:hover{
    background-color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    color: white !important;
}

.cancel{
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}
.cancel:hover{
    background-color: red !important;
    border: 1px solid red !important;
    color: white !important;
}

.myBtn{
    background-color: #fff !important;
    color: #48523D !important;
    border: 1px solid #48523D !important;
    transition: 0.5s !important;
}
.myBtn:hover{
    background-color: #48523D !important;
    border: 1px solid #48523D !important;
    color: white !important;
}

.py-5.text-center {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.myCoupon{
    display: flex;
    justify-content: space-around;
}

/* h2.size_4rem {
    font-size: 2rem;
}

.lead {
    font-size: 1rem;
}

.list-group-item {
    padding: 10px;
}

.form-control,
.input-group,
.select {
    width: 100%;
}

input[type="text"].form-control {
    width: 70%;
}

button.btn.btn-secondary.myBtn {
    width: 30%;
}

.d-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.d-flex.justify-content-between {
    justify-content: center;
    align-items: center;
}

.d-flex.justify-content-end {
    justify-content: center;
    gap: 10px;
} */

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 450px) {
    .btn-container {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }
}

.modal-content {
    padding: 15px;
}

/*  450px 미디어 쿼리 */
@media (max-width: 450px) {
    .container {
        padding: 10px;
    }
    h2.size_4rem {
        font-size: 1.5rem;
    }
    .lead {
        font-size: 0.9rem;
    }
    .list-group-item {
        padding: 8px;
    }
    .form-control,
    .input-group,
    .select {
        width: 100%;
    }
    input[type="text"].form-control {
        width: 60%;
    }
    button.btn.btn-secondary.myBtn {
        width: 40%;
    }
    .d-flex {
        flex-direction: column;
        gap: 10px;
    }
    .d-flex.justify-content-between,
    .d-flex.justify-content-end {
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        padding: 10px;
    }
}