.contact-link {
    text-decoration: none;
    border: none;
    background-color: white;
}

.chatArea {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 1000px; /* 채팅박스의 최대 가로 길이를 지정합니다 */
    margin: 0 auto; /* 가운데 정렬을 위해 추가합니다 */
	width: 1145px;
}

.message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
    border-radius: 30px;
    max-width: 400px;
}

.message-date {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
}
.my-message {
    justify-content: flex-end;
    background-color: #B5C6B8;
    margin-left: auto;
    align-items: flex-end;
    text-align: end;
}
.other-message {
    justify-content: flex-start;
    background-color: #E4E8F4;
    align-items: flex-start;
    margin-right: auto;
}

.chat-header {
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 10px;
    margin-bottom: 20px;
	background-color: #E4E8F4;
}

.chat-partner-info {
	display: flex;
	justify-content: center; /* 가운데 정렬을 위해 추가합니다 */
	align-items: center; /* 수직 가운데 정렬을 위해 추가합니다 */
}

.partner-name-chat {
    font-size: 18px;
    font-weight: bold;
	margin-top: 15px;
}

.chatArea {
    overflow-y: auto;
    max-height: 600px; /* 채팅박스의 높이를 늘립니다 */
    min-height: 400px;
    border: 1px solid #ccc; /* 채팅박스에 테두리 추가 */
    padding: 10px;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    margin-top: 20px;
}

.input-box input[type="text"] {
    flex: 1;
    padding: 15px; /* 입력 박스의 패딩을 늘려 크기를 증가시킵니다 */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-box input[type="text"]:focus {
    outline-color: #8FA2CA;
}

.sendchat {
    padding: 15px 20px; /* 버튼의 패딩을 늘려 크기를 증가시킵니다 */
    border: none;
    background-color: #8FA2CA;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.goback {
    /* padding: 5px 8px;
    background: #8FA2CA;
    border-radius: 8px;
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
	border: none;
	margin-bottom: 30px; */
    background-color: #fff !important;
    border: 1px solid #8FA2CA !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}

.goback:hover {
    background-color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    color: white !important;
}

.opponent-message .bubble {
    background-color: #E9E9EB; /* 배경색을 지정합니다 */
    align-self: flex-start; /* 상대방의 말풍선은 왼쪽으로 정렬합니다 */
}

.opponent-message .time {
    align-self: flex-start; /* 상대방의 메시지의 시간은 왼쪽으로 정렬합니다 */
}

.tag-button {
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 4px 15px;
    margin: 8px;
    cursor: pointer;
	transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

.tag-button:hover {
	background-color: #48523D;
}

.tag-button.selected {
    background-color: #48523D;
}

.tag-button:focus {
    outline: none;
}

.reservationInsertBox {
	margin-top: 10px;
	margin-bottom: 30px;
}

#title {
    border: none;
    border-bottom: 1px solid #000; /* 밑줄 스타일 */
    outline: none; /* 포커스시 테두리 제거 */
    font-size: 1.2em;
    padding: 5px 0;
    width: 100%;
}

/* Placeholder 스타일 */
#title::placeholder {
    color: #999; /* 안내글 색상 */
}

.servicetag {
	margin-top: 24px;
}
#content {
	margin-top:15px;
	border-radius: 8px;
	resize: none; /* 사용자가 크기 조절하지 못하도록 설정 */
    min-height: 150px; /* 최소 높이 설정 */
    max-height: 300px; /* 최대 높이 설정 */
	width:925px;
	outline: none;
}

#content::placeholder {
	color: #999;
	font-size: 14px;
}

.image-upload-title {
	font-size: 18pt;
}


.fileuploadbox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; /* 요소들을 세로 가운데 정렬 */
	padding-top: 25px;
}

.file-upload-button, .image-upload-title, input[type="file"], .file-upload-note {
    margin-right: 60px; /* 각 요소 사이의 간격 설정 */
}

.file-upload-button {
    background-color: #fff !important;
    border: 1px solid #8FA2CA !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
    color: black !important;
}

.file-upload-button:hover {
    background-color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    color: white !important;
}

/* 파일 선택 버튼 숨기기 */
#thumbnail, #images {
    display: none;
}

.file-upload-note {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5); /* 흐릿한 효과를 주는 색상 */
	margin-top: 15px;
}

/* 이미지 프리뷰 */
#image-preview-container, #image-thumbnail-container{
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden; /* 넘치는 이미지 숨기기 */
    position: relative;
	min-height: 100px; /* 최소 높이 지정 */
	margin-bottom: 20px;
	margin-top: 10px;
}

/* 옵션 폼 */
.option-form {
    display: flex;
    flex-direction: column; /* 옵션 폼을 세로로 배치 */
    gap: 10px; /* 옵션 입력 사이의 간격 */
    margin-bottom: 10px;
}

.option-input {
    display: flex;
    align-items: center;
    gap: 10px;
	margin-top: 5px;
}

.option-input input[type="text"],
.option-input input[type="number"],
.option-input textarea {
    flex: 3; /* 옵션명 창이 가로 전체의 3/10을 차지하도록 설정 */
    height: 50px; /* 칸의 높이를 50px로 설정 */
}

.option-input input[type="number"] {
    flex: 2; /* 가격 창이 가로 전체의 2/10을 차지하도록 설정 */
}

.option-input textarea {
    flex: 5; /* 옵션 설명 창이 가로 전체의 5/10을 차지하도록 설정 */
    resize: none; /* textarea 크기 조절 비활성화 */
	height: 50px; /* 칸의 높이를 50px로 설정 */
}

.addOption {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 내부 간격 제거 */
}

.addOption:focus {
    outline: none;
}

.addOption svg {
    width: 30px; /* 너비 설정 */
    height: 30px; /* 높이 설정 */
    fill: #8FA2CA; /* 아이콘 색상 설정 */
	margin: 5px;
}

/* 하단 버튼*/ 
.cancleInsert {
	/* box-sizing: border-box;
	width: 120px;
	height: 50px;
    background-color: #E4E8F4;
	border-radius: 8px;
	transition: background-color 0.3s, color 0.3s;
    border: 1px solid #FFFFFF; */
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}

.reservationInsertOk {
	/* box-sizing: border-box;
	width: 120px;
	height: 50px;
	background: #8FA2CA;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	color: #FFFFFF;
	transition: background-color 0.3s, color 0.3s; */
    background-color: #fff !important;
    border: 1px solid #8FA2CA !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
}

.reservationInsertOk:hover {
	/* background: #E4E8F4;
	color: #000000;
	text-decoration: none; */
    background-color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    color: white !important;
}

.cancleInsert:hover {
	/* background: #ffff;
	color: #8FA2CA; */
    background-color: red !important;
    border: 1px solid red !important;
    color: white !important;
}

.bottomButton {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: right;
}

/* 예약 리스트 페이지 */
.reservation-card {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

.reservation-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.reservation-card-content {
    padding: 20px;
}

.reservation-card-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.reservation-card-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.reservation-card-content .reservation-like {
    color: #f44336;
    margin-right: 10px;
}

.reservation-card-content .reservation-review {
    color: #2196f3;
}

.reservationTitles{
   margin-top: 50px;
   margin-bottom: 30px;
   display: flex;
   flex-direction: column; /* 세로 방향으로 배치 */
}

.reservation-container {
    display: flex;
}
.reservation-title {
    font-size: 20px;
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold;
}
.reservation-insert-link{
    margin-left: auto;
}
.reservation-insert {
    background-color: transparent;
    border: none;
    color: #8FA2CA;
    margin-left: auto;
}

.partner-title {
    text-align: center;
    color:#8FA2CA;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
}

.reservation-subtitle{
    font-size: 14px;
}

.partner-name{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 2px;
    margin-top:5px;
}

.num-of-like-review{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8FA2CA;
    color: #8FA2CA;
    font-size:12px;
    font-weight: 300;
}

.reservation-container {
    margin-bottom:20px;
}

.card {
    box-shadow: none;
}

/* .card-reservation-thumbnail {
    width: 365px;
} */

.card-reservation-thumbnail {
    position: relative;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 10px; /* 이미지와 좋아요 버튼의 여백 */
}

.card-reservation-img {
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞게 설정합니다. */
    height: 243px;
    border-radius: 8px;
}

/* 카드 grid */
.reservation-card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

@media (max-width: 1145px) {
    .reservation-card-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .reservation-card-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width: 576px) {
    .reservation-card-grid {
        grid-template-columns: minmax(0, 1fr);
    }
}

.col {
    position: relative;
}


.card-reservation-thumbnail {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.thumbnail-reservation {
    position: relative;
}



.like-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
    opacity: 80%;
    transition: background-color 0.3s, color 0.3s;
}

.like-icon:hover {
    color: red;
   
}

.card-reservation-img {
    display: block;
    width: 100%;
    height: auto;
}

.like-icon.liked {
    color: red; /* 좋아요가 눌렸을 때 색상을 변경합니다 */
}

.service-tag {
    display: flex; /* Flex 레이아웃을 사용하여 태그들을 가로로 배치합니다 */
    margin-top: 5px;
    position: absolute;
    top: 5px; /* 원하는 위치로 조정하세요 */
    left: 10px; /* 원하는 위치로 조정하세요 */
    z-index: 1; /* 다른 요소 위에 나타나도록 설정 */
}

.reserve-sertvice-tag {
    display: inline-block;
    width: auto;
    height: 20px;
    margin-right: 10px;
    padding: 2px 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #48523D;
}


.search-container {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
}

.search-container button {
    padding: 10px 20px;
    background-color: #8FA2CA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-container button:hover {
    background-color: #48523D;
}

.search-container input[type="text"]:focus {
    outline-color: #8FA2CA;
}

.button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

/* 예약 상세 페이지 */
.reservation-image-box {
    position: relative;
    width: 777px; /* 슬라이드 박스 너비 */
    height: 463px; /* 슬라이드 박스 높이 */
    margin: auto;
    overflow: hidden;
}

.reservation-image-slide {
    display: none;
    width: 777px; /* 슬라이드 박스 너비 */
    height: 463px; /* 슬라이드 박스 높이 */
}

.reservation-image-slide img {
    width: 777px; /* 이미지 너비 */
    height: 463px; /* 이미지 높이 */
    object-fit: cover; /* 이미지 비율을 유지하면서 슬라이드 크기에 맞게 조절 */
}

.active {
    display: block;
}

/* 슬라이드 컨트롤 버튼 */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #E4E8F4;
    font-weight: bold;
    font-size: 42px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none; /* 밑줄 제거 */
    opacity: 80%;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: #8FA2CA;
}

/* 예약 상세 페이지 li */ 
.reservation-menu {
    width: 775px;
    height: 49px;
    position: relative; /* 포지션을 상대적으로 설정하여 자식 요소의 위치를 조정 */
    margin-bottom: 50px;
}

.reservation-menu::after {
    content: ''; /* 가상 요소를 사용하여 선을 추가 */
    position: absolute; /* 절대 위치 지정 */
    bottom: 0; /* 아래쪽에 배치 */
    left: 0; /* 좌측에 배치 */
    width: 777px; /* 너비를 부모 요소의 100%로 설정 */
    height: 3px; /* 높이는 1픽셀 */
    background-color: #8FA2CA; /* 선의 색상 */
    margin: -1px;
}

.reservation-menu li {
    background-color: #E4E8F4;
    padding: 10px;
    overflow: hidden;
    list-style-type: none;
    display: inline-block;
    width: 193.75px;
    /* width: calc(25% - 5px); 전체 너비의 25%에서 마진 고려하여 계산 */
    height: 49px;
    text-align: center; /* 가운데 정렬 */
    box-sizing: border-box; /* 너비에 padding과 border를 포함 */
    margin: -2px; /* 기존의 마진 제거 */
}
.reservation-menu li:hover {
    background-color: #8FA2CA; /* 호버 시 배경색 변경 */
    color: #FFFFFF; /* 호버 시 글자색 변경 */
}

/* 게시판 세부 페이지 헤더 영역*/
.header-area{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.header-title{
    font-size: 42px;
    font-weight: bold;
    margin-right: 20px;
}
.review-star {
    margin-right: 20px; /* 별점과 태그 사이 여백 조정 */
}

.fa-star {
    color: #FFE68F;
    width: 30px;
    height: 30px;
}

.reservation-link {
    margin-left: auto;
}
.reservation-update {
    background-color: transparent;
    border: none;
    color: #8FA2CA;
    margin-left: auto;
    margin-right: 145px;
}

/* 서비스 태그 */
.service-title-tag {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.service-tag-name {
    display: inline-block;
    width: 105px;
    height: 30px;
    background: #8FA2CA;
    border-radius: 8px;
    color:white;
    text-align: center;
    line-height: 30px; /* 텍스트 수직 가운데 정렬 */
    margin-right: 10px; /* 태그 사이 여백 조정 */
    margin-bottom: 10px; /* 태그 아래 여백 조정 */
}

/* 예약 화면 내용물 */
.detail-form {
    display: flex;
}

.detail-content,
.box-form-right {
    flex: 1;
}

/* 타이틀 + 채팅창 */
.title-and-chat{
    margin-top: 30px;
    margin-bottom: 70px;
}

.content-title-name {
    font-size: 48px;
    font-weight: thin;
}



/*파트너 정보*/
.partner-intro {
    overflow: hidden; /* 부모 요소의 크기에 맞춰 자식 요소들을 감출 때 사용 */
    margin-bottom: 30px; /* 파트너 정보와 예약 현황 사이의 간격 */
}

.partner-info {
    margin-top: 45px;
    margin-bottom: 45px;
}

.partner-photo {
    width: 192px;
    height: 247px;
    float: left; 
    margin-right: 20px;
}

.partner-introduction-name {
    font-weight: bold;
    font-size: 18px;
}

.review-star2 {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    display: inline-block; /* 별표를 인라인 블록으로 표시 */
    vertical-align: middle; /* 텍스트와 수직으로 중앙 정렬 */
}

.year-of-work {
    margin-bottom: 10px; /* 경력 정보 아래 여백 추가 */
    margin-top: 15px;
}

.partner-selfintroduction {
    margin-bottom: 20px; /* 자기 소개 아래 여백 추가 */
    margin-top: 15px;
}

/* 예약 현황 스타일 */
.reservation-status {
    margin-bottom: 30px; /* 예약 현황과 환불 안내 사이의 간격 */
}

/* 환불 안내 스타일 */
.refund-policy {
    margin-bottom: 30px; /* 페이지 하단과의 간격 */
}

.partner-intro-name {
    display: flex; /* flexbox를 사용하여 요소들을 가로로 배치 */
    align-items: center; /* 요소들을 수직 가운데 정렬 */
}

.partner-introduction-name {
    margin-right: 10px; /* 이름과 별표 사이에 간격을 줌 */
    padding-top: 10px;
}

.review-star2 {
    display: flex; /* 별표들을 가로로 나열하기 위해 flexbox 사용 */
}

.review-star2 .fa {
    margin-right: 5px; /* 각 별표 사이에 간격을 줌 */
}

/* 리뷰 */
.review-user-name {
    display: flex; /* flexbox를 사용하여 요소들을 가로로 배치 */
    align-items: center; /* 요소들을 수직 가운데 정렬 */
    margin-right: 10px; /* 이름과 별표 사이에 간격을 줌 */
    font-weight: 300;
    padding-top: 18px;
}

.review-star3 {
    display: flex; /* 별표들을 가로로 나열하기 위해 flexbox 사용 */
    align-items: center; /* 별표들을 수직 가운데 정렬 */
    flex-wrap: nowrap; /* 별표들이 한 줄에 모두 표시되도록 설정 */
    width: 10px;
    height: 10px;
}

.review-star3 .fa {
    margin-right: 5px; /* 각 별표 사이에 간격을 줌 */
    font-size: 16px;
}

/* 언더바 */
.section-underbar {
    color: #48523D;
    border-width: 2px; /* 원하는 굵기로 조절 */
}

.btn-coupon {

    box-sizing: border-box;

    width: 340px;
    height: 60px;
    left: 901px;
    top: 850px;

    background: #FFFFFF;
    border: 1px solid #48523D;

}

/* 오른쪽 표 + 쿠폰 */
.box-form-right {
    margin-left: 30px;
}
/* 예약 표 */
.partner-service-table {
    background-color: #E4E8F4;
    border-collapse: collapse;
    width: 340px;
    height: flex;
    margin-bottom: 30px;
}

.partner-service-table td, .partner-service-table th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #fff; /* 각 셀의 우측에 하얀색 분리선 추가 */
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partner-service-table td {
    padding-left: 10px;
}

.partner-service-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E4E8F4;
}

.partner-service-table input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
}

.partner-service-table input[type="checkbox"]:checked {
    background-color: #48523D;
    border: 1px solid #48523D;
}


.service-description {
    text-align: center;
    background-color: #E4E8F4;
}

/* 버튼들 */
.reservation-buttons {
    text-align: center;
}

.reservation-buttons {
    text-align: center;
}

.service-description {
    text-align: center;
    background-color: #E4E8F4;
}

/*캘린더 */
.calender-info {
    display: flex;
    align-items: flex-start; /* 상단에 정렬 */
    gap: 20px; /* 간격 추가 */
}
.reservation-calender {
    background-color: #E4E8F4; /* 날짜 선택 버튼의 배경색 설정 */
    color: black; /* 텍스트 색상 설정 */
    padding: 10px 20px; /* 내부 여백 설정 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 커서 스타일 변경 */
    transition: background-color 0.3s, color 0.3s;
}

.reservation-calender:hover {
    background-color: #8FA2CA;
    color: white;
}

.reservation-paybutton {
    background-color: #8FA2CA; /* 바로 예약하기 버튼의 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    padding: 10px 20px; /* 내부 여백 설정 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 커서 스타일 변경 */
    transition: background-color 0.3s, color 0.3s;
}
.reservation-paybutton:hover {
    background-color: #E4E8F4;
    color: black;
}

.reservation-calender, .reservation-paybutton {
    width: 170px; /* 버튼 가로 크기 설정 */
    height: 64px; /* 버튼 세로 크기 설정 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 커서 스타일 변경 */
}

/* 채팅 */
.title-and-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content-title-name {
    margin: 0;
}

.reservation-chat {
    display: flex;
    flex-direction: column;
}

.reservation-chat svg {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    color: #8FA2CA;
    margin-bottom: 5px;
}


/* 리뷰 */
.review-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-date, .review-buttons button {
    color: #8FA2CA;
    font-weight: lighter;
    font-size: 12px;
    border: none;
    background-color: transparent;
}

.review-date {
    margin-right: auto;
}

.review-buttons {
    display: flex;
}

.review-buttons button {
    margin-left: 10px;
}

.review-user-title {
    display: flex;
    align-items: center;
}

/*리뷰 이미지 박스 */
.review-image-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.review-image-container {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.review-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.review-section { 
    margin-bottom: 50px;
}

/* 캘린더 */
/* 캘린더 스타일 */
.calender-color-info {
    display: flex;
    flex-direction: column; /* 수직으로 나열 */
    gap: 10px; /* 간격 추가 */
    width: 20%; /* 컬러 정보 너비를 20%로 설정 */
    padding-top: 200px;
}

.color-box {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px; /* 텍스트와 네모 박스 사이의 간격 */
    vertical-align: middle; /* 텍스트와의 수직 정렬 */
}

.color-unavailable {
    background-color: #E4E8F4;
}

.color-today {
    background-color: #B5C6B8;
}

.color-selected {
    background-color: #8FA2CA;
}

#calendar {
    border-collapse: collapse;
    width: 40%;
    height: auto; /* 높이는 자동으로 설정 */
    margin-top:30px;
    margin-bottom:50px;
    flex-grow: 1;
    min-width: 200px;
}
  
#calendar th {
    background-color: #fff;
    /* padding: 8px; */
    text-align: center;
}

.fc-col-header-cell-cushion {
    color: #000;
}
  
#calendar td {
    /* padding: 8px; */
    text-align: center;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion {
    text-decoration: none;
    color: #000;
}

.fc-daygrid-day-number.fc-day-today {
    color: white !important;
}

/* 오늘 */
.fc-day-today {
    background-color: #B5C6B8 !important;
    color: white !important;
}

.fc-day-today.fc-daygrid-day-number {
    color: white !important;
}

/* 클릭된 날짜 */
.fc-day.fc-day-selected {
    background-color: #8FA2CA !important;
    color: white !important; /* 흰색으로 변경 */
}

/* 선택되지 않은 날짜 */
.fc-day:not(.fc-day-selected):hover {
    background-color: #8FA2CA !important;
    color: white;
}

/* 지나간 날짜 */
.fc-day.fc-day-past.fc-daygrid-day {
    color: #d5d5d5 !important; /* 글씨 색 변경 */
    background-color: #EDF2F7 !important; /* 배경색 변경 */
}

/* 오늘 버튼 */
.fc-today-button.fc-button.fc-button-primary {
    background-color: #fff !important;
    border: 1px solid #8FA2CA !important;
    border-radius: 8px !important;
    transition: 0.5s !important;
    color: black !important;
}

/* 오늘 버튼 호버 상태 */
.fc-today-button.fc-button.fc-button-primary:hover {
    background-color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    color: white !important;
}

/* 이전 버튼 */
.fc-prev-button.fc-button.fc-button-primary {
    background-color: transparent;
    color: #8FA2CA !important;
    border: none;
}

/* 다음 버튼 */
.fc-next-button.fc-button.fc-button-primary {
    background-color: transparent;
    color: #8FA2CA !important;
    border: none;
}

/* 페이징 */
.pagination {
    margin: 50px 0;
    text-align: center;
    justify-content: center;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #ddd;;
    color: #007bff !important;
    border: 1px solid #ddd;;
}

/* 캘린더 이벤트 */
.fc-event .fc-event-start .fc-event-end .fc-event-future .fc-daygrid-event .fc-daygrid-dot-event {
    background-color:#8FA2CA !important;
}

.fc-event {
    background-color: #8FA2CA !important;
    border: 1px #8FA2CA !important;
}

.fc-daygrid-event-dot {
    border: calc(var(--fc-daygrid-event-dot-width) / 2) solid white;
}