<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daeut.daeut.partner.mapper.PartnerMapper">

  <!-- 파트너 정보 가져오기 -->
<select id="getPartners" resultType="com.daeut.daeut.partner.dto.Partner">
    SELECT
    u.user_no,
    u.user_name,
    u.user_phone,
    u.user_birth,
    u.user_address,
    u.user_email,
    u.user_gender,
    u.user_id,
    u.user_password,
    u.user_reg_date,
    u.user_coupon,
    u.user_upd_date,
    u.enabled,
    p.partner_no,
    p.partner_grade,
    p.partner_reserve,
    p.partner_career,
    p.status,
    p.introduce
FROM
    users u
JOIN
    partner p ON u.user_no = p.user_no;
</select>

  <!-- 파트너 정보 수정하기 -->
<update id="update" parameterType="map">
        <!-- user 테이블 업데이트 -->
        UPDATE users
        SET
            user_name = #{userName},
            user_password = #{userPassword},
            user_phone = #{userPhone},
            user_birth = #{userBirth},
            user_address = #{userAddress},
            user_gender = #{userGender},
            user_email = #{userEmail},
            user_coupon = #{userCoupon},
            user_upd_date = NOW()
        WHERE
            user_id = #{userId};

        <!-- partner 테이블 업데이트 -->
        UPDATE partner p
        JOIN users u ON p.user_no = u.user_no
        SET
            p.partner_grade = #{partnerGrade},
            p.partner_reserve = #{partnerReserve},
            p.partner_career = #{partnerCareer},
            p.status = #{partnerStatus},
            p.introduce = #{partnerIntroduce}
        WHERE
            u.user_id = #{userId};
    </update>

</mapper>
