<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/reserv_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
    <!-- SockJS 및 stomp.js 라이브러리 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body layout:fragment="content">

    <div class="container">
        <div class="chatbox">
            <div class="chat-header">
                <div class="chat-partner-info">
                    <!-- partner 번호 -> 유저테이블 파트너 번호 검색, 이름 출력 -->
                    <span class="partner-name-chat">상대방 이름</span>
                </div>
            </div>
            <!-- <div class="chat-box" id="chat-box messages"> -->
            <div class="chat-box" id="messages">
                <!-- 채팅 메시지는 여기에 추가됩니다 -->
            </div>
            <div class="input-box">
                <form id="chatForm">
                    <input type="text" id="messageInput" placeholder="부적절한 메세지는 삭제 처리됩니다." onkeypress="enterSend(event)">
                    <!-- <button onclick="sendMessage()" class="sendchat" id="send">전송</button> -->
                    <button class="sendchat" id="send" type="submit" onclick="sendMessage()">전송</button>
                </form>
            </div>
            <div class="button-box">
                <button class="goback" onclick="goBack()">돌아가기</button>
            </div>

        </div>
    </div>

    <script>
        var stompClient = null
        var csrfToken = "[[${_csrf.token}]]"
        var headers = {
            'X-CSRF-TOKEN': csrfToken
        };

        // WebSocket 서버에 연결
        function connect() {
            var socket = new SockJS('/chat')
            stompClient = Stomp.over(socket)
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
            });
        }

        // 메시지를 서버로 전송
        function sendMessage() {
            var messageInput = document.getElementById('messageInput')
            var message = {
                chatContent: messageInput.value,
                userNo: '[[${user.userNo}]]',
                // TODO : 문의하기 클릭 -> 동시에 채팅방 생성 -> 값 입력 
                roomNo: 1                       
            };
            stompClient.send("/app/chat.sendMessage", headers, JSON.stringify(message))
            messageInput.value = ''
        }

        // 페이지 로드 시 WebSocket 서버에 연결
        connect();
    </script>
</body>
</html>