<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/reserv_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
    <!-- SockJS 및 stomp.js 라이브러리 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body layout:fragment="content">

    <div class="container">
        <div class="chatbox">
            <div class="chat-header">
                <div class="chat-partner-info">
                    <span class="partner-name-chat">채팅방</span>
                </div>
            </div>
            <div class="chat-box" id="messages">
                <div id="chatArea">
                    <th:block th:each="chat : ${chatList}">
                        <p th:text="${chat.chatContent}"></p>
                        <p th:text="${chat.chatRegDate}"></p>
                    </th:block>
                    <!-- 실시간 채팅 메시지가 여기에 추가됩니다 -->
                </div>
            </div>
            <div class="input-box">
                <input type="text" name="chatcontent" id="message" placeholder="부적절한 메세지는 삭제 처리됩니다." onkeypress="enterSend(event)">
                <button type="button" class="sendchat" id="send" onclick="sendMessage()">전송</button>
            </div>
            <div class="button-box">
                <button class="goback" onclick="goBack()">돌아가기</button>
            </div>

        </div>
    </div>

    <script>
        const url = new URL(location.href).searchParams;
        const roomNo = url.get('roomNo');
        const userNo = '[[${user.userNo}]]';

        console.log(roomNo)

        var stompClient = null;

        function connect() {
            var socket = new SockJS('/chat');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe(`/sub/chat/${roomNo}`, function (chat) {
                    showMessage(JSON.parse(chat.body));
                });
            });
        }

        function sendMessage() {
            let chatContent = document.getElementById('message').value;

            let data = {
                'chatContent': chatContent,
                'userNo': userNo,
                'roomNo': roomNo,
                'chatRegDate' : getCurrentTime()
            }

            stompClient.send("/pub/chat/sendMessage", {}, JSON.stringify(data));
            document.getElementById('message').value = ''; // 전송 후 입력란 초기화
        }

        function showMessage(chat) {
            var chatArea = document.getElementById('chatArea');

            var messageDiv = document.createElement('div');
            messageDiv.className = 'message';

            var pContent = document.createElement('p');
            pContent.className = 'message-content';
            pContent.textContent = chat.chatContent;

            var pDate = document.createElement('p');
            pDate.className = 'message-date';
            pDate.textContent = chat.chatRegDate;

            messageDiv.appendChild(pContent);
            messageDiv.appendChild(pDate);

            chatArea.appendChild(messageDiv);
        }

        function enterSend(event) {
            if (event.key === 'Enter') {
                sendMessage();
                event.preventDefault(); // 기본 Enter 키 동작 방지
            }
        }

        connect();
    </script>
</body>
</html>
