<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/payment_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 실패</title>
</head>
<body layout:fragment="content">
    <div class="container">

        <div class="container complete">
            <div class="form-container complete">
                <h2 class="text-center color_main">예약 성공</h2>
                <p class="text-center">예약 번호 : 202405241423F54ASTF</p>
                <hr class="completeHr">
                <p class="text-center">회원님의 예약이 성공적으로 끝났습니다</p>
                <p class="text-center">깨끗한 집을 만들러갈게요!</p>

                <div class="d-flex gap-5">
                    <a href="/chat" class="btn btn-primary sessuce color_main">문의하기</a>
                    <a href="/mypage/payment" class="btn btn-primary sessuce color_main">결제내역</a>
                    <a href="/" class="btn btn-primary sessuce color_main">메인화면</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>