<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 실패</title>
</head>
<body layout:fragment="content">

    <div class="container">
        <div class="sideView">

        </div>
        <div class="payment">
            <h1>실패</h1>
        
            <!-- TODO : 결제 실패 디자인 만들기 -->
            <br>결제에 실패하였습니다!
            <br>다시 시도해주세요
            
            <br><br>
            <button type="button" onclick="moveToReservation()">예약 화면 다시 가기</button>
            <button type="button" onclick="moveToIndex()">메인 화면</button>
        </div>
    </div>

    <th:block th:replace="~{fragment/footer::footer}"></th:block>

    <th:block th:replace="~{fragment/script::script}"></th:block>
</body>
</html>