<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/payment_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D e ut</title>
</head>
<body layout:fragment="content">

    <div class="container">

        <div class="container complete">
            <div class="form-container complete">
                <h2 class="text-center color_main">예약 실패</h2>
                <hr class="completeHr">
                <p class="text-center">회원님의 예약가 실패되었습니다</p>
                <p class="text-center">실패 사유</p>
                <p class="text-center" th:text="|${param.errorMsg}|"></p>

                <div class="d-flex gap-5">
                    <a href="/reservation/reservation" class="btn btn-primary sessuce color_main">다시하기</a>
                    <a href="/" class="btn btn-primary sessuce color_main">메인화면</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>