<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/main_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E Ut</title>
    <link rel="stylesheet" href="/css/reservation/payment.css">
</head>

<body layout:fragment="content">
    <div class="container">
        <div class="py-5 text-center">
            <h2>결제 화면</h2>
            <p class="lead">userName님의 결제 화면입니다.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">예약</span>
                    <span class="badge bg-primary rounded-pill">N</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">[여름맞이][특가]청소 + 빨래 세트</h6>
                            <small class="text-body-secondary"></small>
                        </div>
                        <span class="text-body-secondary">50,000원</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">방역</h6>
                            <small class="text-body-secondary">전체 방역</small>
                        </div>
                        <span class="text-body-secondary">20,000원</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                        <div class="text-success">
                            <h6 class="my-0">사용 쿠폰</h6>
                            <small>가입쿠폰</small>
                        </div>
                        <span class="text-success">-5,000원</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>총 가격 (원)</span>
                        <strong value="65000" id="productCost">65,000</strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="쿠폰">
                        <button type="submit" class="btn btn-secondary">쿠폰 사용</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">예약 정보</h4>
                <!-- TODO : 결제 로직 완성 필요 -->
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="userName" class="form-label">이름</label>
                            <input type="text" class="form-control" id="userName" placeholder="이름" value="" required>
                            <div class="invalid-feedback">
                                이름이 올바르게 입력되지 않았습니다.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="userId" class="form-label">아이디</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="userId" placeholder="userId" required>
                                <div class="invalid-feedback">
                                    아이디가 올바르게 입력되지 않았습니다.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">이메일</label>
                            <input type="email" class="form-control" id="email" placeholder="daeut@example.com">
                            <div class="invalid-feedback">
                                이메일이 올바르지 않습니다.
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label for="userPhone1" class="form-label">전화번호</label>
                            <select class="form-select" id="userPhone1" required>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="011">017</option>
                                <option value="011">019</option>
                            </select>
                            <div class="invalid-feedback">
                                전화번호를 입력하세요
                            </div>
                        </div>

                        <div class="col-md-10">
                            <label for="userPhone2" class="form-label">전화번호</label>
                            <input type="text" class="form-control" id="userPhone2" placeholder="'-'는 제외하고 입력해주세요"
                                required>
                            <div class="invalid-feedback">
                                전화번호를 입력해주세요
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="userPost" class="form-label">우편번호</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="userPost" placeholder="우편번호" required>
                                <button type="button" class="btn btn-secondary" onclick="daumPostcode()">우편번호
                                    찾기</button>
                                <div class="invalid-feedback">
                                    우편번호를 입력해주세요.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="userAddress" class="form-label">주소</label>
                            <input type="text" class="form-control" id="userAddressA" placeholder="서울시 강서구" required>
                            <div class="invalid-feedback">
                                주소가 올바르지 않습니다.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="userAddressDetail" class="form-label">상세주소</label>
                            <input type="text" class="form-control" id="userAddressDetail" placeholder="상세주소" required>
                            <div class="invalid-feedback">
                                상세주소를 입력해주세요.
                            </div>
                        </div>

                        <hr class="my-4">

                        <h4 class="mb-3">결제</h4>
                        <div class="d-flex justify-content-end gap-5 mb-3">
                            <button class="btn btn-primary btn-lg" type="button" id="paymentBtn">결제 하기</button>
                            <button class="btn btn-danger btn-lg" type="button" onclick="cancelPayment()">취소 하기</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>