<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Da E ut</title>
	<th:block th:replace="~{fragment/link::link}"></th:block>
</head>
<body>
	 <!-- th:replace : 프래그먼트를 가져오는 속성 -->
    <!-- <th:block th:replace="~{폴더명/파일명::프래그먼트명}"></th:block> -->
    <th:block th:replace="~{fragment/header::header}"></th:block>

    <div class="container">
        <h3 class="reservationtitle">생활 속 편리함</h3>
		<h4 class="reservationsubtitle">깔끔한 생활 도우미 예약</h4>

		<a href="reservationInsert" class="reservationInsert">글쓰기</a>
	</div>

    <th:block th:replace="~{fragment/footer::footer}"></th:block>
	
    <th:block th:replace="~{fragment/script::script}"></th:block>
	
</body>
</html>