<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/reserv_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>

<body layout:fragment="content">
    <!-- TODO 파트너 로그인시 글쓰기 필요 -->
    <div class="container">
        <section style="width: 1250px;">
            <div class="reservationTitles">
                <h3 class="reservation-title">생활 속 편리함</h3>
                <div class="reservation-container">
                    <h2 class="reservation-subtitle">깔끔한 생활 도우미 예약 서비스</h2>
                    <th:block sec:authorize="hasRole('ROLE_PARTNER') and hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN') ">
                        <a href="/reservation/reservationInsert" class="reservation-insert-link"><button
                                class="reservation-insert">글쓰기</button></a>
                    </th:block>
                </div>
            </div>
            <!-- 카드영역 -->
            <div class="reservation-card-grid">
                <div class="col">
                    <div class="card-reservation-thumbnail">
                        <div class="thumbnail-reservation">
                            <!-- 빈 경우 -->
                            <th:block th:if="${serviceList.isEmpty()}">
                                <span>조회된 게시글 정보가 없습니다.</span>
                            </th:block>
                            
                            <!-- 반복 -->
                            <th:block th:each="services : ${serviceList}">
                            <th:block th:text="${service.serviceNo}"></th:block>
                            
                            <!-- 카테고리 -->
                            <div class="service-tag">
                                <span class="reserve-sertvice-tag" th:text="${services.serviceCategory}"></span>
                            </div>
                            
                            <!-- 이미지 -->
                            <a id="img_link" th:href="|/reservation/reservationRead?serviceNo=${services.serviceNo}|">
                                <img th:src="|/file/img/${services.fileNo}|" alt="썸네일" width="100">
                            </a>
                        </div>

                        <div class="card-body">
                            <!-- 서비스 이름 -->
                            <label for="img_link" class="partner-title" th:text="${services.serviceName}"></label>
                            <!-- 유저(파트너) 이름 -->
                            <p class="partner-name" th:text="${services.userName}"></p>
                        </div>
                    </div>
                </div>
                <!-- 나머지 카드들도 동일하게 설정 -->
            </div>
        </section>

        <div class="search-container">
            <input type="text" placeholder="키워드를 입력하세요">
            <button type="button">검색</button>
        </div>
    </div>

</body>

</html>