<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/reserv_layout}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Da e ut</title>
</head>

<body layout:fragment="content">

	<div class="container">
		<div class="header-area">
			<!-- 서비스 이름 -->
			<h3 class="header-title" th:text="${service.serviceName}"></h3>

			<!-- 게시글 별점 -->
			<div class="review-star">
				<th:block th:if="${averageRating != null && averageRating > 0}">
					<th:block th:each="star : ${#numbers.sequence(1, averageRating)}">
						<i class="fa fa-star" aria-hidden="true"></i>
					</th:block>
				</th:block>
			</div>
			
			<div class="reservation-chat reservation-updat reservation-link">
				<th:block sec:authorize="hasRole('ROLE_USER')">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
						<path
							d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
					</svg>
					<form action="/user/userChatRoom" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						<input type="hidden" name="partnerNo" th:value="${service.partner.partnerNo}">
						<input type="submit" class="contact-link color_main" value="문의하기"></input>
					</form>
				</th:block>
			</div>

			<th:block sec:authorize="hasRole('ROLE_PARTNER') and hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN') ">
				<a th:href="|/reservation/reservationUpdate?serviceNo=${service.serviceNo}|" class="reservation-link">
					<button class="reservation-update">수정하기</button>
				</a>
			</th:block>
		</div>

		<!-- 카테고리 -->
		<div class="service-title-tag">
			<span class="service-tag-name" th:text="${service.serviceCategory}" style="width: auto;"></span>
		</div>

		<div class="detail-form">

			<div class="box-form-right">
				<div class="partner-service-list">
					<table class="partner-service-table">

						<tbody>
							<tr>
								<td style="width: 65px;">가격 : </td>
								<td th:text="${service.servicePrice}"></td>
							</tr>
							<tr>
								<td style="width: 65px;">설명 :</td>
								<td th:text="${service.serviceContent}"></td>
							</tr>
						</tbody>
						<tfoot>
							<tr class="reservation-buttons">

								<th:block th:if="${session.user == null}">
									<a class="text-decoration-none" href="javascript:;" id="hidden-link" onclick="sweetConfirm('회원가입이 필요합니다.', '예약 서비스는 회원가입 후 가능합니다.', 'warning', '로그인', ()=>{location.href='/auth/login'})">
										<button class="reservation-calender">바로 예약하기</button>
									</a>
									<!-- <a href="javascript:;" onclick="sweetAlert('경고', '회원가입이 필요합니다.', 'warning')"> -->
									<a href="javascript:;" id="hidden-link" onclick="sweetConfirm('회원가입이 필요합니다.', '장바구니 담기는 회원가입 후 가능합니다.', 'warning', '로그인', ()=>{location.href='/auth/login'})">
										<button class="reservation-paybutton">장바구니 담기</button>
									</a>
								</th:block>
								
								<th:block th:if="${session.user != null}">
									<form action="/orders" method="post">
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
										<input type="hidden" id="serviceNo" name="serviceNo" th:value="${service.serviceNo}">
										<input type="hidden" id="quantity" name="quantity" value="1">
										<button type="submit" class="reservation-calender" id="couponBtn">바로 예약하기</button>
									</form>
									<button class="reservation-paybutton" onclick="addToCart()">장바구니 담기</button>
								</th:block>
								<!-- <button class="reservation-calender" id="showCalendarBtn">날짜 선택</button> -->
							</tr>
						</tfoot>

					</table>
				</div>
			</div>

			<div class="detail-content">

				<div class="reservation-service-content">

					<!-- 설명 이미지 슬라이드 -->
					<div class="reservation-image-box mb-5">
						<img id="slide0" th:src="|/file/img/${thumbnail.fileNo}|"
							class="reservation-image-slide swiper-slide"
							style="width: 777px; height: 463px; display: block;">
						<th:block th:each="file, iterStat : ${files}">
							<img id="slide[[${iterStat.index + 1}]]" th:src="|/file/img/${file.fileNo}|"
								class="reservation-image-slide swiper-slide"
								style="width: 777px; height: 463px; display: none;">
						</th:block>
						<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>
					</div>

					<div class="reservation-menu">
						<li data-target="partner-intro">파트너 소개</li>
						<li data-target="reservation-status">예약 현황</li>
						<li data-target="refund-policy">환불 안내</li>
						<li data-target="review-box">이용 후기</li>
					</div>

					<!-- 파트너 소개 -->
					<div class="partner-intro" id="partner-intro" >
						<h4 class="reservation-intro">파트너 소개</h4>

						<hr class="section-underbar">
						<div class="partner-info">
							<!--파트너 사진-->
							<img th:src="|/file/img/${pthumbnail.fileNo}|" alt="파트너 사진" class="partner-photo">
							<div class="partner-intro-name">
								<h3 class="partner-introduction-name" th:text="${pUsers.userName}"></h3>

								<!--파트너의 별점-->
									<th:block th:if="${averageRating != null && averageRating > 0}">
										<th:block th:each="star : ${#numbers.sequence(1, averageRating)}">
											<i class="fa fa-star" aria-hidden="true"></i>
										</th:block>
									</th:block>
							

							</div>
							<p class="year-of-work" th:text="${service.partner.partnerCareer}"> </p>
							<p class="partner-selfintroduction" th:text="${service.partner.introduce}"></p>
						</div>

					</div>

					<!-- 캘린더 -->
					<div class="reservation-status section" id="reservation-status">
						<h4 class="reservation-intro2">예약 현황</h4>
						<hr class="section-underbar">
						<div class="calender-info">
							<!-- 여기 캘린더 들어가 -->
							<div id='calendar'></div>
							<div class="calender-color-info">
								<p><span class="color-box color-unavailable"></span>예약 불가</p>
								<p><span class="color-box color-today"></span>오늘</p>
								<p><span class="color-box color-selected"></span>예약일</p>
							</div>
						</div>
					</div>

					<!-- 환불 -->
					<div class="refund-policy section" id="refund-policy">
						<h4 class="reservation-intro3">환불 안내</h4>
						<hr class="section-underbar">
						<p class="refund-legacy"><span style="color: red;">당일 취소 및 반복적인 예약 취소는 파트너 보호를 위해 이용에 제한을 받을 수
								있습니다.</span> <br> <br>
							소비자 권리 보호 및 분쟁 해결 기준에 따라 결제 후 2시간 이내 취소 시 전액 환불이 가능합니다.(단, 이용시간 전까지만 가능합니다.)
							<br><br>이용 8일 전 총 금액의 100% 환불이 가능합니다.
							<br><br>
							<span style="color: red;">이용 7일 전부터 취소 시 환불이 불가능합니다.</span>
							<br><br>
						</p>
					</div>
				</div>

				<!-- 후기 -->
				<div class="review-box" id="review-box">
					<h4 class="review-title">이용 후기</h4>
					<hr class="section-underbar">

					<div class="review-section" th:each="review : ${reviews}" th:if="${review != null}">
						<!-- 리뷰 정보 표시 -->
						<div class="review-user-title">
							<p class="review-user-name" th:text="${review.userName}"></p>
							<!-- 유저 별점 -->
							<div class="review-star" th:if="${review.reviewRating != null}">
								<th:block th:each="star : ${#numbers.sequence(1, review.reviewRating)}">
									<i class="fa fa-star" aria-hidden="true" style="width: 15px; height: 15px;"></i>
								</th:block>
							</div>
						</div>
					
						<!-- 리뷰 이미지 -->
						<div class="review-image-box">
							<div th:each="file : ${rFiles}">
								<div class="review-image-container" th:if="${file != null}">
									<img th:src="@{|/file/img/${file.fileNo}|}" class="review-image">
								</div>
							</div>
						</div>
					
						<!-- 리뷰 내용 -->
						<p class="review-content" id="reviewContent" th:text="${review.reviewContent}"></p>
					
						<!-- 리뷰 작성일 및 삭제 버튼 -->
						<div class="review-actions">
							<p class="review-date" th:text="${review.reviewRegDate}"></p>
							<div class="review-buttons" th:if="${session.userNo == review.userNo}">
								<form action="/reservation/reviewDelete" method="post">
									<input type="hidden" name="userNo" th:value="${review.userNo}">
									<input type="hidden" name="userNo" th:value="${review.reviewNo}">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
									<button type="submit" class="review-delete">삭제</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			
			
			
			</div>

			


		</div>

	</div>


	<script>

		var serviceNo = "[[${serviceNo}]]"
		// 캘린더 
		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				height: '700px', // calendar 높이 설정
				expandRows: true, // 화면에 맞게 높이 재설정
				// 해더에 표시할 툴바
				headerToolbar: {
					right: 'prev,next today',
				},
				initialView: 'dayGridMonth', // 초기 로드 될때 보이는 캘린더 화면(기본 설정: 달)
				selectable: true, // 달력 일자 드래그 설정가능
				nowIndicator: true, // 현재 시간 마크
				dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
				locale: 'ko', // 한국어 설정
				events: `/full-calendar/events?serviceNo=${serviceNo}`,
				// 이벤트 
				eventDidMount: function (info) {
					// 이벤트가 렌더링된 후 실행됩니다.
					// info.event 객체를 통해 이벤트에 대한 정보에 접근할 수 있습니다.
					info.el.title = info.event.start; // 이벤트에 마우스를 올렸을 때 표시할 툴팁 설정
				}
			});
			calendar.render();
		});

		function addToCart() {
			// CSRF 토큰 가져오기
			const csrfToken = document.querySelector("meta[name='_csrf']").content;
			const csrfHeader = document.querySelector("meta[name='_csrf_header']").content;
			console 

			var sNo = '[[${service.serviceNo}]]'
			let data = {
				'serviceNo': sNo
			};

			// AJAX 비동기 요청
			let request = new XMLHttpRequest();
			request.open('POST', '/cart/add');
			request.setRequestHeader(csrfHeader, csrfToken); // CSRF 토큰을 헤더에 추가
			request.setRequestHeader('Content-Type', 'application/json');
			request.send(JSON.stringify(data));

			// 요청 상태가 변할 때 실행하는 메소드
			request.onreadystatechange = function () {
				// 요청 성공
				if (request.readyState == request.DONE && request.status == 200) {
					sweetAlert('장바구니 담기 성공', '성공적으로 서비스가 장바구니에 담겼습니다.', 'success')
				}
				else{
					sweetAlert('장바구니 담기 실패', '서비스가 장바구니에 담기지 못했어요. 이미 장바구니에 담겨있지 않는지 확인해봐요', 'error')
					console.log(request.responseText);
				}
			};
		}

		// 이미지 슬라이드
		let currentSlide = 0;
		const slides = document.getElementsByClassName('reservation-image-slide');

		function showSlide(index) {
			if (index >= slides.length) {
				currentSlide = 0;
			} else if (index < 0) {
				currentSlide = slides.length - 1;
			} else {
				currentSlide = index;
			}

			for (let i = 0; i < slides.length; i++) {
				slides[i].style.display = 'none';
			}

			slides[currentSlide].style.display = 'block';
		}

		function plusSlides(step) {
			showSlide(currentSlide + step);
		}
		// 초기 슬라이드 표시
		showSlide(currentSlide);

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName("reservation-image-slide");
			if (slides.length > 0) {
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				slides[slideIndex].style.display = "block";
			} else {
				console.log("reservation-image-slide 클래스를 가진 요소가 없습니다.");
			}
		}

	</script>
</body>

</html>
