<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/reserv_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">

    <div class="container">

        <div class="reservationInsertBox">
            <form action="/reservation/reservationUpdate" method="post" enctype="multipart/form-data" id="form">
                <!-- csrf 토큰 -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <div>
                    <label for="title" style="display: none;">제목:</label><br>
                    <input type="text" id="title" name="serviceName" th:value="${service.serviceName}" required><br>
                </div>
                <div class="servicetag">
                    <!-- <input type="hidden" name="partnerNo" th:value="${partnerNo}"> -->
                    <!-- <input type="hidden" name="partnerNo" value="3"> -->

                    <!-- 서비스 번호 -->
                    <input type="hidden" name="serviceNo" th:value="${service.serviceNo}">

                    <!-- 서비스 가격 -->
                    <input type="number" name="servicePrice" th:value="${service.servicePrice}" required>

                    <!-- 카테고리 -->
                    <input type="checkbox" name="serviceCategory" id="serviceCategoryClean" class="tag-button" value="청소" >
                    <label for="serviceCategoryClean">청소</label>
                    <input type="checkbox" name="serviceCategory" id="serviceCategoryWash" class="tag-button" value="빨래">
                    <label for="serviceCategoryWash">빨래</label>
                    <input type="checkbox" name="serviceCategory" id="serviceCategoryQuarantine" class="tag-button" value="방역">
                    <label for="serviceCategoryQuarantine">방역</label>
                    <input type="checkbox" name="serviceCategory" id="serviceCategorySecurity" class="tag-button" value="보안">
                    <label for="serviceCategorySecurity">보안</label>
                    <input type="checkbox" name="serviceCategory" id="serviceCategoryEtc" class="tag-button" value="기타" checked>
                    <label for="serviceCategoryEtc">기타</label>

                    <!-- <button class="tag-button" type="button" value="청소">청소</button> -->
                </div>

                <div>
                    <!-- 내용 -->
                    <textarea id="content" name="serviceContent" rows="4" cols="50" th:text="${service.serviceContent}" required></textarea><br>
                </div>

                <!-- 썸네일 -->
                <div class="fileuploadbox">
                    <label for="thumbnail" class="image-upload-title">썸네일</label>
                    <label for="thumbnail" class="file-upload-button sessuce">첨부하기</label>

                    <!-- 이미지 -->
                    <input type="file" id="thumbnail" name="thumbnail" accept="image/*" onchange="previewThumbnail(event)" required>
                    <p class="file-upload-note">썸네일 사진은 최대 20MB 이하의 JPG, PNG, GIF 1장까지 첨부 가능합니다.</p>
                </div>
                <div id="image-thumbnail-container">
                    <img th:src="|/file/img/${thumbnail.fileNo}|" alt="썸네일" width="250">
                </div>

                <br>

                <!-- 설명 이미지 -->
                <div class="fileuploadbox">
                    <label for="images" class="image-upload-title">설명이미지</label>
                    <label for="images" class="file-upload-button sessuce">첨부하기</label>

                    <!-- 이미지 -->
                    <input type="file" id="images" name="file" accept="image/*" multiple onchange="previewImages(event)" required>
                    <p class="file-upload-note">사진은 최대 20MB 이하의 JPG, PNG, GIF 파일 10장까지 첨부 가능합니다.</p>
                </div>
                <div id="image-preview-container">
                    <th:block th:each="file : ${files}">
                            <img th:src="|/file/img/${file.fileNo}|" alt="설명이미지" width="250">
                    </th:block>
                </div>
                
                <div class="bottomButton">
                    <input type="submit" class="reservationInsertOk sessuce" value="수정하기">
                    <input type="button" class="cancleInsert" value="삭제하기" data-bs-toggle="modal" data-bs-target="#cancelReservationModel">
                    <input type="button" value="취소하기" class="cancleInsert" onclick="window.location.href='/reservation/reservation'">
                </div>
            </form>

            <!-- 모달 -->
            <div class="modal fade" id="cancelReservationModel" tabindex="-1"
                aria-labelledby="cancelReservationModelLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cancelReservationModel">서비스 삭제</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>정말 삭제하시겠습니까? 삭제할 경우 이 게시글은 모두 사라집니다.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary myBtn" data-bs-dismiss="modal">닫기</button>
                            <button type="submit" class="btn btn-danger cancel" onclick="actionDelete()">삭제하기</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <script>
        let form = document.getElementById('form')
        let no = '[[service.serviceNo]]'
            
        function actionDelete(){
            form.action='/reservation/reservationDelete?serviceNo' + no 
            form.submit()
        }

        // 파일 삭제
        function deleteFile(element ,no){
            // AJAX 비동기 요청
            let request = new XMLHttpRequest()

            // 요청 세팅
            // request.open(요청메서드, url)
            request.open('DELETE','/file/'+no)
            request.send()

            request.onreadystatechange = function(){
                // 요청 성공
                if(request.readyState == request.DONE && request.status == 200){
                    sweetAlert('📄',"파일 삭제", 'info')
                    console.log('파일 삭제 성공!');
                    // 파일 항목 제거
                    element.parentNode.remove()
                }
            }
        }
        
        // 태그 클릭 이벤트
        var tagButtons = document.querySelectorAll('.tag-button');

        tagButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                button.classList.toggle('selected');
            });
        });
    </script>
</body>
</html>