<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daeut.daeut.reservation.mapper.OrderMapper">

    <resultMap id="OrderWithUserResultMap" type="com.daeut.daeut.reservation.dto.Orders">
    <id property="ordersNo" column="orders_no"/>
    <result property="userNo" column="user_no"/>
    <result property="orderStatus" column="order_status"/>
    <result property="totalQuantity" column="total_quantity"/>
    <result property="totalPrice" column="total_price"/>
    <result property="updDate" column="upd_date"/>
    <result property="regDate" column="reg_date"/>
    <result property="totalCount" column="total_count"/>
    <result property="title" column="title"/>
    <result property="partnerNo" column="partner_no"/>
    
    <association property="user" javaType="com.daeut.daeut.auth.dto.Users">
        <id property="userNo" column="user_no"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userBirth" column="user_birth"/>
        <result property="userAddress" column="user_address"/>
        <result property="userEmail" column="user_email"/>
        <result property="userGender" column="user_gender"/>
        <result property="userId" column="user_id"/>
        <result property="userPassword" column="user_password"/>
        <result property="userRegDate" column="user_reg_date"/>
        <result property="userCoupon" column="user_coupon"/>
        <result property="userUpdDate" column="user_upd_date"/>
        <result property="enabled" column="enabled"/>
        <result property="status" column="status"/>
    </association>
</resultMap>


    <!-- 모든 주문 조회 -->
    <select id="list" resultType="Orders">
        SELECT * 
        FROM orders
    </select>

    <!-- 주문 상세 조회 -->
    <select id="select" resultType="Orders">
        SELECT * 
        FROM orders 
        WHERE orders_no = #{ordersNo}
    </select>

     <!-- 주문 삽입 -->
    <insert id="insert">
        INSERT INTO orders (orders_no, user_no, title, total_quantity, total_price, total_count, order_status)
        VALUES (#{ordersNo}, #{userNo}, #{title}, #{totalQuantity}, #{totalPrice}, #{totalCount}, #{orderStatus})
    </insert>

    <!-- 주문 수정 -->
    <update id="update">
        UPDATE orders
        SET title = #{title}
            , total_quantity = #{totalQuantity}
            , total_price = #{totalPrice}
            , total_count = #{totalCount}
            , order_status = #{orderStatus}
            , upd_date = now()
        WHERE orders_no = #{ordersNo}
    </update>

    <!-- 주문 삭제 -->
    <delete id="delete">
        DELETE FROM orders 
        WHERE orders_no = #{ordersNo}
    </delete>


    <!-- 목록 - userId -->
    <select id="listByUserNo" resultType="Orders">
        SELECT *
        FROM orders
        WHERE user_no = #{userNo}
    </select>

    <!-- 목록 - partnerNo-->
    <select id="listByParterNo" resultMap="OrderWithUserResultMap">
        SELECT 
        o.orders_no, o.user_no, o.order_status, o.total_quantity, o.total_price, 
        o.upd_date, o.reg_date, o.total_count, o.title, o.partner_no,
        u.user_no AS user_no, u.user_name, u.user_phone, u.user_birth, 
        u.user_address, u.user_email, u.user_gender, u.user_id, u.user_password, 
        u.user_reg_date, u.user_coupon, u.user_upd_date, u.enabled, u.status
    FROM 
        orders o
    JOIN 
        users u ON o.user_no = u.user_no
    WHERE 
        o.partner_no = #{partnerNo}
    </select>

    <!-- orderNo로 Oder 정보와 유저 정보 출력하기 -->
    <select id="listByOrderNo" resultMap="OrderWithUserResultMap">
    SELECT 
    o.orders_no, o.user_no, o.order_status, o.total_quantity, o.total_price, 
    o.upd_date, o.reg_date, o.total_count, o.title, o.partner_no,
    u.user_no AS user_no, u.user_name, u.user_phone, u.user_birth, 
    u.user_address, u.user_email, u.user_gender, u.user_id, u.user_password, 
    u.user_reg_date, u.user_coupon, u.user_upd_date, u.enabled, u.status
    FROM 
    orders o
    JOIN 
    users u ON o.user_no = u.user_no
    WHERE 
    o.orders_no = #{ordersNo}
    </select>

</mapper>