<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.shop.shop.mapper.OrdersMapper">

    <!-- 모든 주문 조회 -->
    <select id="list" resultType="Orders">
        SELECT * FROM orders
    </select>

    <!-- 주문 상세 조회 -->
    <select id="select" resultType="Orders">
        SELECT * FROM orders WHERE orders_no = #{ordersNo}
    </select>

     <!-- 주문 삽입 -->
    <insert id="insert">
        INSERT INTO orders (user_no, partner_no, reservation_status, order_uid, total_quantity, total_price)
        VALUES (#{userNo}, #{partnerNo}, #{reservationStatus}, #{orderUid}, #{totalQuantity}, #{totalPrice})
    </insert>

    <!-- 주문 수정 -->
    <update id="update">
        UPDATE orders
        SET user_no = #{userNo}
            , partner_no = #{partnerNo}
            , reservation_status = #{reservationStatus}
            , order_uid = #{orderUid}
            , total_quantity = #{totalQuantity}
            , total_price = #{totalPrice}
        WHERE orders_no = #{ordersNo}
    </update>

    <!-- 주문 삭제 -->
    <delete id="delete">
        DELETE FROM orders 
        WHERE orders_no = #{ordersNo}
    </delete>


    <!-- 목록 - userId -->
    <select id="listByUserNo" resultType="Orders">
        SELECT *
        FROM orders
        WHERE user_no = #{userNo}
    </select>

</mapper>