<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daeut.daeut.reservation.mapper.ReservationMapper">

    <!-- Result Map -->
    <resultMap type="Services" id="serviceMap">
        <id property="serviceNo" column="service_no"/>
        <result property="serviceCategory" column="service_category"/>
        <result property="serviceName" column="service_name"/>
        <result property="servicePrice" column="service_price"/>
        <result property="serviceContent" column="service_content"/>
        <result property="updDate" column="upd_date"/>
        <result property="regDate" column="reg_date"/>
        <result property="fileNo" column="file_no"/>
        <result property="partnerNo" column="partner_no"/>

        <association property="partner" javaType="Partner">
        <id property="partnerNo" column="partner_no"/>
        <result property="partnerGrade" column="partner_grade"/>
        <result property="partnerReserve" column="partner_reserve"/>
        <result property="partnerCareer" column="partner_career"/>
        <result property="introduce" column="introduce"/>
        <result property="userNo" column="user_no"/>
            <association property="users" javaType="Users">
                <id property="userNo" column="user_no"/>
                <result property="userName" column="user_name"/>
            </association>
        </association>
    </resultMap>

    <!-- 전체 조회 -->
    <select id="serviceList" resultMap="serviceMap">
        SELECT  s.*, 
        		f.*,
        		u.user_name
        FROM joeun.service s    LEFT JOIN (  
        	                    	    SELECT * 
        	                    	    FROM joeun.files
                                        WHERE parent_table = 'service' 
                                        AND file_code = 1
        	                    	    ) f
        	                    ON s.service_no = f.parent_no
        <!-- 유저 번호 -->
        LEFT JOIN   joeun.users u ON  s.partner_no = u.user_no
        <!-- 파트너 번호 -->
        <!-- LEFT JOIN joeun.partner p ON s.partner_no = p.user_no -->
        WHERE s.service_name LIKE CONCAT('%', #{option.keyword}, '%') 
        ORDER BY s.service_no DESC 
        LIMIT #{servicePage.index}, #{servicePage.rows};
    </select>

    <!-- 글 내용 조회 -->
    <select id="serviceSelect" resultMap="serviceMap">
        SELECT 
            s.service_no, 
            s.service_category, 
            s.service_name, 
            s.service_price, 
            s.service_content, 
            s.upd_date, 
            s.reg_date, 
            p.partner_no,
            p.partner_grade,
            p.partner_reserve,
            p.partner_career,
            p.introduce,
            p.user_no,
            u.user_name
        FROM 
            service s
        JOIN 
            partner p ON s.partner_no = p.partner_no
        JOIN 
            users u ON p.user_no = u.user_no
        WHERE 
            s.service_no = #{serviceNo}
    </select>

    <select id="select">
        select *
        from service
        WHERE service_no = #{serviceNo}
    </select>

    <!-- 썸네일 -->
    <select id="SelectThumbnail">
        SELECT  s.*, 
        		f.*
        FROM joeun.service s    LEFT JOIN (  
        	                    	    SELECT * 
        	                    	    FROM joeun.files
                                        WHERE parent_table = 'service'
                                        AND file_code = 1
        	                    	    ) f
        	                    ON s.service_no = f.parent_no
        WHERE service_no = #{serviceNo}
    </select>

    <!-- 설명 이미지 -->
    <select id="SelectFiles">
        SELECT  s.*, 
        		f.*
        FROM joeun.service s    LEFT JOIN (  
        	                    	    SELECT * 
        	                    	    FROM joeun.files
                                        WHERE parent_table = 'service'
                                        AND file_code != 1
        	                    	    ) f
        	                    ON s.service_no = f.parent_no
        WHERE service_no = #{serviceNo}
    </select>
    
    <!-- 삽입 -->
    <insert id="serviceInsert">
        INSERT INTO service(service_category, service_name, service_price, service_content, partner_no, reg_date, upd_date)
        VALUES (#{serviceCategory}, #{serviceName}, #{servicePrice}, #{serviceContent}, #{partnerNo}, now(), now())
    </insert>

    <!-- 업데이트 -->
    <update id="serviceUpdate">
        UPDATE service
        SET service_category = #{serviceCategory},
            service_name = #{serviceName},
            service_price = #{servicePrice},
            service_content = #{serviceContent},
            upd_date = now()
        WHERE service_no = #{serviceNo}
    </update>

    <!-- 삭제 -->
    <delete id="serviceDelete">
        DELETE FROM service
        WHERE service_no = #{serviceNo}
    </delete>

    <!-- 서비스 번호의 최대값 조회 -->
    <select id="maxPk" resultType="int">
        SELECT MAX(service_no)
        FROM service
    </select>

    <!-- 검색 -->
    <select id="search" resultMap="serviceMap">
        SELECT *
        FROM service
        WHERE service_name LIKE CONCAT('%', #{option.keyword}, '%')
        ORDER BY service_no DESC
    </select>

    <!-- 카운트 -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM service
        WHERE service_name LIKE CONCAT('%', #{option.keyword}, '%')
    </select>

    <!-- 캘린더 일정 조회 - serviceNo 로 파트너 일정 조회 -->
    <select id="calendarListByServiceNo" resultType="Event">
        SELECT 
            (SELECT service_name FROM service WHERE service_no = oi.service_no) AS title,
            (SELECT service_content FROM service WHERE service_no = oi.service_no) AS description,
            p.service_date AS start,
            p.service_date AS end
        FROM 
            payment p
        JOIN 
            order_item oi ON p.orders_no = oi.orders_no
        JOIN 
            orders o ON oi.orders_no = o.orders_no
        JOIN 
            service s ON oi.service_no = s.service_no
        WHERE 
            s.partner_no = #{partnerNo}
            AND o.order_status = 'CONFIRMED';
    </select>

    <!--파트너 넘버를 통해 partner이미지 가져오기-->
    <select id="partnerThumbnail">
        SELECT  p.*, 
                f.*
        FROM partner p
        LEFT JOIN (
                SELECT * 
                FROM files
                WHERE parent_table = 'partner'
                AND file_code = 1
            ) f
        ON p.partner_no = f.parent_no
        WHERE p.partner_no = #{partnerNo};
    </select>

    <!--Service_no로 리뷰이미지 가져오기-->
        <select id="getFileByServiceNum">
            SELECT
            r.*,
            f.*
        FROM
            review r
        INNER JOIN
            users u ON r.user_no = u.user_no
        LEFT JOIN (
            SELECT *
            FROM files
            WHERE parent_table = 'review'
        ) f ON r.review_no = f.parent_no
        WHERE r.service_no = #{serviceNo};
    </select>

</mapper>
