<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/tip_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <!-- ⭐ content -->
    <div class="container">
        <div class="main">
            <h3 class="tipH3">오늘의 추천 생활 팁</h3>
            <h2 class="tipH2">쾌적한 생활을 위한 안내</h2>
            <div class="tips">
                <div th:each="board : ${boardList}" class="card">
                    <a th:href="@{/tip/tipRead(no=${board.boardNo})}">
                        <img src="/img/index02.png" alt="팁 이미지">
                    </a>
                    <p>작성자: <span th:text="${board.userNo}">작성자</span>
                    <button class="heart-button"><i class="fa fa-heart" aria-hidden="true"></i></button></p>
                </div>
            </div>
            <h3 class="tipH3">생활 속 즐거움 <a th:href="@{/tip/tipInsert}" class="more-button2">글쓰기</a></h3>
            <div class="categories">
                <div th:each="board : ${boardList}" class="card">
                    <div style="position: relative;">
                        <a th:href="@{/tip/tipRead(no=${board.boardNo})}">
                            <img src="/img/index02.png" alt="카테고리 이미지">
                        </a>
                        <button class="heart-button2" style="position: absolute; bottom: 5px; right: 5px;">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <a th:href="@{/tip/tipRead(no=${board.boardNo})}">
                        <p><span class="highlight-text" th:text="${board.boardTitle}">여름철 옷장 배치 방법</span></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">&lt;</a>
            <a href="#" th:classappend="${page == 1} ? 'active'">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&gt;</a>
            <a href="#">&raquo;</a>
        </div>
        
        <div class="search-container">
            <input type="text" placeholder="검색어를 입력해주세요">
            <button type="submit">검색</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const heartButtons = document.querySelectorAll('.heart-button, .heart-button2');
            heartButtons.forEach(button => {
                button.addEventListener('click', () => {
                    button.classList.toggle('active');
                });
            });
        });
    </script>
</body>
</html>
