
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/tip_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da E ut</title>
</head>
<body layout:fragment="content">
    <!-- ⭐ content -->
    <div class="container">
        <div class="main">
            <!-- <h3 class="tipH3">오늘의 추천 생활 팁</h3>
            <h2 class="tipH2">쾌적한 생활을 위한 안내</h2>
            <div class="tips">
                <div th:each="board : ${boardList}" class="card">
                    <a th:href="|/tip/tipRead?boardNo=${board.boardNo}|">
                        <th:block th:each="file : ${fileList}"> 
                    <img th:src="|/img/${board.fileNo}|" alt="모기 퇴치 방법" class="img-fluid">
                        </th:block>
                    </a>
                    <p>작성자: <span th:text="${board.userNo}">작성자</span>
                    <button class="heart-button"><i class="fa fa-heart" aria-hidden="true"></i></button></p>
                </div>
            </div> -->
            <h3 class="tipH3">생활 속 즐거움 <a th:href="@{/tip/tipInsert}" class="more-button2">글쓰기</a></h3>
            <div class="categories">
                <div th:each="board : ${boardList}" class="card">
                    <div style="position: relative;">
                        <a th:href="@{/tip/tipRead(no=${board.boardNo})}">
                            <img th:src="|/file/img/${board.fileNo}|" alt="썸네일" style="width: 200px; height: 200px;">
                            <!-- <span th:text="|/file/img/${board.fileNo}|"></span> -->
                        </a>
                        <!-- <button class="heart-button2" style="position: absolute; bottom: 5px; right: 5px;" data-board-no="${board.boardNo}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button> -->
                    </div>
                    <a th:href="@{/tip/tipRead(no=${board.boardNo})}">
                        <p><span class="highlight-text" th:text="${board.boardTitle}"></span></p>
                    </a>
                    <p>추천수: <span th:text="${board.boardLike}">0</span></p>
                </div>
            </div>
        </div>

        <!-- 페이징 -->
        <div class="pagination d-flex align-items-center">
            <!-- 처음 -->
            <a th:href="|/tip/index?page=${page.first}|">&laquo;</a>
            <!-- 이전 -->
            <a th:href="|/tip/index?page=${page.page > 1 ? page.prev : page.page}|">&lt;</a>  

            <th:block th:each="pageNo : ${#numbers.sequence(page.start, page.end)}">
                <!-- 현재페이지 -->
                <th:block th:if="${page.page == pageNo}">
                    <a th:class="'active'" th:text="${pageNo}"></a>
                </th:block>
                <!-- 다른 페이지 -->
                <th:block th:if="${page.page != pageNo}">
                    <a th:href="|/tip/index?page=${pageNo}|" th:text="${pageNo}"></a>
                </th:block>
            </th:block>

            <!-- 다음 -->
            <a th:href="|/tip/index?page=${page.page < page.last ? page.next : page.page}">&gt;</a>
            <!-- 마지막 -->
            <a th:href="|/tip/index?page=${page.last}|">&raquo;</a>
        </div>
        
        <div class="search-container">
            <form action="/tip/index" method="get">
                <select name="code" class="code">
                    <option th:each="item : ${optionList}"
                            th:value="${item.code}"
                            th:text="${item.keyword}"
                            th:selected="${item.code == option.code}"></option>
                    <!-- <option value="0" th:selected="${option.code == 0}">전체</option>
                    <option value="1" th:selected="${option.code == 1}">제목</option>
                    <option value="2" th:selected="${option.code == 2}">내용</option>
                    <option value="3" th:selected="${option.code == 3}">제목+내용</option>
                    <option value="4" th:selected="${option.code == 4}">작성자</option> -->
                </select>
                <input type="text" name="keyword" placeholder="검색어 입력"
                       th:value="${param.keyword}">
                <button type="submit">검색</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const heartButtons = document.querySelectorAll('.heart-button, .heart-button2');
            heartButtons.forEach(button => {
                button.addEventListener('click', () => {
                    button.classList.toggle('active');
                });
            });
        });
    </script>
</body>
</html>
