<th:block th:fragment="script">
    <!-- js 가져오는 순서 -->
    <!-- 1. jQuery -->
    <!-- 2. jQuery 기반 라이브러리 -->
    <!-- 3. 자바스크립트 라이브러리 -->
    <!-- 4. 사용자 정의 자바스크립트 -->
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- 폰트어썸 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- 공용 / 추가 X -->
    <!-- alert -->
    <script src="/js/scripts.js"></script>
    <!-- 회원가입 / 로그인-->
    <script src="/js/auth/script.js"></script>
</th:block>
