<th:block th:fragment="script">
    <!-- js 가져오는 순서 -->
    <!-- 1. jQuery -->
    <!-- 2. jQuery 기반 라이브러리 -->
    <!-- 3. 자바스크립트 라이브러리 -->
    <!-- 4. 사용자 정의 자바스크립트 -->

    <!-- 날씨 데이터 jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- 폰트어썸 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <!-- 아임포트 -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script> -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <!-- 토스페이먼츠 결제창 SDK 추가 -->
    <!-- <script src="https://js.tosspayments.com/v1/payment"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    
    <!-- Daum 우편번호 찾기 API 스크립트 추가 -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
    <!-- 사용자 정의 -->
    <script src="/js/scripts.js"></script>                      <!-- 인덱스 -->
    <script src="/js/reservation/payment.js"></script>          <!-- 결제 -->
    <script src="/js/user/script.js"></script>
    <!-- 예약 화면 -->
    <script src="/js/reservation/reservation.js"></script>
     
</th:block>
