<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <!-- link -->
    <th:block th:replace="~{fragment/resev/link::link}"></th:block>

    <!--캘린더-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.js"></script>
    <!-- script -->
    <th:block th:replace="~{fragment/common/script::script}"></th:block>
</head>
<body>
    <!-- header -->
    <th:block th:replace="~{fragment/common/header::header}"></th:block>
    
    <!-- ⭐ content -->
    <!-- layout:fragment="레이아웃의 프레그먼트 영역 이름" -->
    <th:block layout:fragment="content"></th:block>
    
    <!-- footer -->
    <th:block th:replace="~{fragment/common/footer::footer}"></th:block>
    
</body>
</html>