<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daeut.daeut.tip.mapper.BoardMapper">

    <select id="list" resultType="Board">
        SELECT b.*
            ,f.file_no file_no
            ,f.file_name file_name
            ,f.file_path file_path
            ,f.file_code file_code
        FROM board b LEFT JOIN (
                                SELECT *
                                FROM files
                                WHERE parent_table = "board"
                                AND file_code = 1
                                ) f
                    ON (b.board_no = f.parent_no)
        WHERE
            <if test="option.code == 0">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
                OR user_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                    board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
                OR board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                    user_no LIKE CONCAT('%', #{option.keyword}, '%')
            </if>    
        ORDER BY b.board_reg_date DESC
        LIMIT #{page.index}, #{page.rows}
    </select>

    <select id="select" resultType="Board">
        SELECT b.*, u.user_id AS userId
        FROM board b
        JOIN users u ON b.user_no = u.user_no
        WHERE b.board_no = #{boardNo}
    </select>

    <insert id="insert">
        INSERT INTO board( board_title, user_no, board_content)
        VALUES ( #{boardTitle}, #{userNo}, #{boardContent})
    </insert>

    <update id="update">
        UPDATE board
           SET board_title = #{boardTitle}
              ,board_content = #{boardContent}
              ,board_upd_date = now()
        WHERE board_no = #{boardNo}
    </update>

    <delete id="delete">
        DELETE FROM board
        WHERE board_no = #{boardNo}
    </delete>

    <select id="maxPk" resultType="int">
        SELECT MAX(board_no)
        FROM board
    </select>

    <!-- 데이터 개수 조회 - [검색] -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM board
        WHERE
            <if test="option.code == 0">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
                OR user_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                    board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
                OR board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                    user_no LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
        ORDER BY board_reg_date DESC
    </select>

    <!-- 게시글 목록 - [검색] -->
    <select id="search" resultType="Board">
        SELECT *
        FROM board
        WHERE
            <if test="option.code == 0">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
                OR user_no LIKE CONCAT('%', #{option.keyword}, '%')
                OR board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 1">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 2">
                    board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 3">
                    board_title LIKE CONCAT('%', #{option.keyword}, '%')
                OR board_content LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
            <if test="option.code == 4">
                    user_no LIKE CONCAT('%', #{option.keyword}, '%')
            </if>
        ORDER BY board_reg_date DESC
    </select>

    <update id="view">
        UPDATE board
           SET board_views = board_views + 1
        WHERE board_no = #{boardNo}
    </update>

    <!-- <select id="findTop5ByBoardViews" resultType="com.daeut.daeut.tip.dto.Board">
        SELECT * FROM board ORDER BY board_views DESC LIMIT 5
    </select> -->

    <!-- 좋아요 수 증가 -->
    <update id="incrementBoardLike">
        UPDATE board
        SET board_like = board_like + 1
        WHERE board_no = #{boardNo}
    </update>
</mapper>
