<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Page :(</title>
    <th:block th:replace="~{fragment/link::link}"></th:block>
</head>
<body>

	<th:block th:replace="~{fragment/header::header}"></th:block>
	<div class="container">
		<h3 class="errortitle">403 Error</h3>
		<div class="message-container">
		<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-lock" viewBox="0 0 16 16">
			<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 5.996V14H3s-1 0-1-1 1-4 6-4q.845.002 1.544.107a4.5 4.5 0 0 0-.803.918A11 11 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664zM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
		  </svg>
		<h2 class="errormessage">잘못된 접근입니다. <br> 로그인 후 다시 시도해주세요</h2>
		</div>
	<div class="button-container">
		<a href="/index.html" class="backbutton">돌아가기</a>
		<a href="/login.html" class="errorlogin">로그인</a>
	</div>
	</div>

	<th:block th:replace="~{fragment/footer::footer}"></th:block>

    <th:block th:replace="~{fragment/script::script}"></th:block>
</body>
</html>
