.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 8px;
    color: white;
    font-size: 80px; /* 아이콘 크기 조정 */
}
.icon-text {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
.login-icon {
    background-color: #8FA2CA;
}
.signup-icon {
    background-color: #B5C6B8;
}
button {
    border: none;
}
.custom-margin {
    margin-right: 100px; /* 왼쪽 요소의 오른쪽 간격 설정 */
    margin-left: 100px; /* 오른쪽 요소의 왼쪽 간격 설정 */
}
.memberRow {
    display: flex;
    justify-content: center;
}
.form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 20px auto;
}
.form-container form {
    max-width: 500px; /* 줄어든 너비 */
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}
.form-control {
    line-height: 1 !important;
    font-size: 14px !important;
}

.gender {
    display: flex;
    justify-content: center;
    gap: 20px; /* 라디오 버튼 간격 조정 */
}

.google {
    background-color: royalblue !important;
    color: white !important;
}
.kakao {
    background-color: #FEE500 !important;
    color: black !important;
}
.naver {
    background-color: #03C75A !important;
    color: white !important;
}
.description {
    word-break: keep-all;
    padding-top: 20px;
    text-align: center;
}

.custom-auth-btn {
    background-color: #8FA2CA !important;
    border: none !important;
    padding-top: 50px;
}


.form-container.complete{
    max-width: 700px; /* 줄어든 너비 */
    width: 100%;
    margin: 20px;
    padding: 70px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.container.complete {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px; /* 화면 전체 높이 */
}

.custom-auth-btn.complete {
    background-color: #8FA2CA !important;
    border: none !important;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 130px;
    height: 40px;
    font-size: 18px;
}

.completeHr {
    width: 100%;
}